<div class="content-dashboard">
    <div class="container">
        <div class="card">
            <form>
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <div class="avatar-wrapper">
                                <img class="profile-pic" src="../../../../assets/images/03-Coffee.svg" />
                                <div class="upload-button">
                                    <img src="../../../../assets/images/edit.svg" alt="">
                                </div>
                                <input class="file-upload" type="file" accept="image/*" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-lg-6 col-md-12">
                        <label class="lable"> اسم المحمصة </label>
                        <input class="form-control" type="text" placeholder=" خطوة جمل ">
                        <img class="icon-right" src="../../../../assets/images/coffee-beans-light.svg" alt="">
                    </div>
                    <div class="form-group col-lg-6 col-md-12">
                        <label class="lable"> المدينة </label>
                        <select class="form-control" placeholder=" الرياض ">
                          <option> الرياض </option>
                          <option> الرياض </option>
                          <option> الرياض </option>
                        </select>
                        <img class="icon-right" src="../../../../assets/images/pin-light.svg" alt="">
                        <img class="icon-left arrow" src="../../../../assets/images/arrow-bottom.svg" alt="">
                    </div>
                    <div class="form-group col-lg-6 col-md-12">
                        <label class="lable"> رقم الجوال </label>
                        <input class="form-control" type="text" placeholder=" +966 00-000-0000 ">
                        <img class="icon-right" src="../../../../assets/images/Line.svg" alt="">
                        <img class="icon-left" width="20" height="15" src="../../../../assets/images/ksa-flag.png" alt="">
                    </div>
                    <div class="form-group col-lg-6 col-md-12">
                        <label class="lable"> البريد الالكتروني </label>
                        <input class="form-control" type="text" placeholder=" support@camelstep.com ">
                        <img class="icon-right" src="../../../../assets/images/Message.svg" alt="">
                    </div>
                    <div class="form-group col-lg-12 col-md-12">
                        <label class="lable"> الوصف </label>
                        <textarea rows="7" class="form-control textarea" type="text" placeholder=" محمصة خطوة جمل هي واحدة من أولى محلات التحميص المتخصصة في المملكة العربية السعودية والتي تهدف إلى الارتقاء بمستوى جودة البن في السوق المحلية بشكل خاص والإقليمية بشكل عام. نسعى في المحمصة على نشر المعرفة والثقافة حول القهوة المختصة، وذلك يشمل العديد من العناصر مثل الإلمام بأنواع القهوة المختلفة ومصادرها، كيفية ونوعية الطحن، والطرق المتعددة لتحضير القهوة وغير ذلك. “خطوة جمل” استمدت اسمها من روح الصحراء، حيث اتخذنا “الجمل” شعارا لأهميته في تيسير التنقل والترحال والتجارة ، ونحن نخطو خطوة واعدة لصياغة المفهوم الحقيقي للقهوة "></textarea>
                    </div>
                    <div class="form-group col-lg-6 col-md-12">
                        <label class="lable"> الموقع الالكتروني </label>
                        <input class="form-control" type="text" placeholder=" الموقع الالكتروني ">
                        <img class="icon-right" src="../../../../assets/images/map.svg" alt="">
                    </div>
                    <div class="form-group col-lg-6 col-md-12">
                        <label class="lable"> واتساب </label>
                        <input class="form-control" type="text" placeholder=" https://wa.me/966534007676 ">
                        <img class="icon-right" src="../../../../assets/images/whatsapp.svg" alt="">
                    </div>
                    <div class="form-group col-lg-6 col-md-12">
                        <label class="lable"> انستجرام </label>
                        <input class="form-control" type="text" placeholder=" www.instagram.com/camelstep ">
                        <img class="icon-right" src="../../../../assets/images/insta-gray.svg" alt="">
                    </div>
                    <div class="form-group col-lg-6 col-md-12">
                        <label class="lable"> تويتر </label>
                        <input class="form-control" type="text" placeholder=" https://twitter.com/camelstep/ ">
                        <img class="icon-right" src="../../../../assets/images/twitter-gray.svg" alt="">
                    </div>
                    <div class="form-group col-lg-6 col-md-12">
                        <label class="lable"> سناب شات </label>
                        <input class="form-control" type="text" placeholder="https://snapchat.com/ ">
                        <img class="icon-right" src="../../../../assets/images/snapshat.svg" alt="">
                    </div>
                    <div class="form-group col-lg-6 col-md-12">
                        <label class="lable"> يوتيوب </label>
                        <input class="form-control" type="text" placeholder="https://www.youtube.com/channel/UCrz2yzqYWc1tMJgqrNA-yyQ">
                        <img class="icon-right" src="../../../../assets/images/youtube.svg" alt="">
                    </div>
                </div>

                <div class="row mt-5">
                    <h2 class="form-title"> تعديل كلمة المرور </h2>
                    <div class="form-group col-lg-6 col-md-12">
                        <label class="lable"> كلمة المرور الجديدة </label>
                        <input class="form-control" type="text" placeholder="">
                        <img class="icon-right" src="../../../../assets/images/lock.svg" alt="">
                    </div>
                    <div class="form-group col-lg-6 col-md-12">
                        <label class="lable"> تأكيد كلمة المرور </label>
                        <input class="form-control" type="text" placeholder="">
                        <img class="icon-right" src="../../../../assets/images/lock.svg" alt="">
                    </div>
                </div>

                <div class="row">
                    <div class="form-group d-flex justify-content-end">
                        <button type="submit" class="btn btn-success"> تطبيق التعديلات </button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
