<div class="wrap-bg">
    <section id="fqa">
        <nav style="--bs-breadcrumb-divider: '';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">الرئيسية</a></li>
                <li class="breadcrumb-item"> <i class="fa fa-angle-left"></i> </li>
                <li class="breadcrumb-item active" aria-current="page"> الأسئلة الشائعة </li>
            </ol>
        </nav>
        <div class="fqa">
            <div class="container-fluid kaffi-container">
                <p-accordion>
                    <p-accordionTab header="ما هي منصة كافي؟" [selected]="true">
                        <div class="text">
                            كافي منصة متخصصة بالقهوة المختصة، تعمل منصة كافي بتقنيات ذكاء اصطناعي تساعد محبي القهوة المختصة في البحث عن منتجات القهوة عبر أكثر من 100 محمصة مختلفة حول المملكة، وتتيح لهم إمكانية تتبع سعر منتجاتها والحصول على تنبيه عند انخفاض سعر منتج معين والعديد
                            من المميزات الأخرى
                        </div>
                    </p-accordionTab>
                    <p-accordionTab header="هل تشمل المنصة جميع محامص المملكة؟">
                        Content 2
                    </p-accordionTab>
                </p-accordion>
            </div>
        </div>
    </section>
</div>