<div class="wrap-bg">
    <section class="pricing-helper">
        <nav style="--bs-breadcrumb-divider: '';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">الرئيسية</a></li>
                <li class="breadcrumb-item"> <i class="fa fa-angle-left"></i> </li>
                <li class="breadcrumb-item active" aria-current="page">مساعد التسعير</li>
            </ol>
        </nav>
        <div class="container-fluid kaffi-container">
            <div class="filteration">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-md-6 col-12">

                    </div>
                    <div class="col-lg-9 col-md-6 col-12">
                        <div class="pricing-grid">
                            <div class="pricing-item">
                                <div class="title"> عدد المنتجات </div>
                                <div class="number"> 255 </div>
                                <div class="postion"> <img src="../../../assets/images/coffee-bag-light.svg" alt=""> </div>
                            </div>
                            <div class="pricing-item">
                                <div class="title"> السعر الأقل </div>
                                <div class="number"> 255 <small> ريال </small></div>
                                <div class="postion"> <img src="../../../assets/images/low-icon.svg" alt=""> </div>
                            </div>
                            <div class="pricing-item">
                                <div class="title"> السعر الأعلى </div>
                                <div class="number"> 255 <small> ريال </small></div>
                                <div class="postion"> <img src="../../../assets/images/high-icon-light.svg" alt=""> </div>
                            </div>
                            <div class="pricing-item">
                                <div class="title"> متوسط الأسعار </div>
                                <div class="number"> 255 <small> ريال </small></div>
                                <div class="postion"> <img src="../../../assets/images/avg-icon.svg" alt=""> </div>
                            </div>
                            <div class="pricing-item">
                                <div class="title"> الأكثر تكرارًا </div>
                                <div class="number"> 255 <small> ريال </small></div>
                                <div class="postion"> <img src="../../../assets/images/duplicates.svg" alt=""> </div>
                            </div>
                        </div>

                        <form>
                            <div class="form-group">
                                <input type="search" class="form-control" placeholder="بحث حسب الاسم أو النوع أو السلالة">
                                <button type="submit" class="btn btn-search"> <img src="../../../assets/images/search-light.svg" alt=""> </button>
                            </div>
                            <div class="tags">
                                <div class="tag">
                                    <ul class="nav">
                                        <li class="nav-item">
                                            250
                                            <span> جرام </span>
                                            <img src="../../../assets/images/close.svg" alt="">
                                        </li>
                                        <li class="nav-item">
                                            <span> مجففة </span>
                                            <img src="../../../assets/images/close.svg" alt="">
                                        </li>
                                        <li class="nav-item">
                                            <span> البرازيل </span>
                                            <img src="../../../assets/images/close.svg" alt="">
                                        </li>
                                        <li class="nav-item">
                                            <span> إزالة جميع الفلاتر </span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="prod-number hidden-mobile">
                                    عدد المنتجات
                                    <span> 12 </span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-12">
                        <div class="offer-filter products">
                            <p-accordion>
                                <p-accordionTab header="الايحاءات" [selected]="true">
                                    <div class="field-checkbox">
                                        <p-checkbox name="group1" value="New York" inputId="ny"></p-checkbox>
                                        <label class="label" for="ny"> 100 جرام <span> (8) </span></label>
                                    </div>
                                    <div class="field-checkbox">
                                        <p-checkbox name="group1" value="New York" inputId="ny1"></p-checkbox>
                                        <label class="label" for="ny"> 250 جرام <span> (8) </span></label>
                                    </div>
                                    <div class="field-checkbox">
                                        <p-checkbox name="group1" value="New York" inputId="ny2"></p-checkbox>
                                        <label class="label" for="ny"> 300 جرام <span> (8) </span></label>
                                    </div>
                                    <div class="field-checkbox">
                                        <p-checkbox name="group1" value="New York" inputId="ny"></p-checkbox>
                                        <label class="label" for="ny"> 130 جرام <span> (8) </span></label>
                                    </div>
                                    <div class="field-checkbox">
                                        <p-checkbox name="group1" value="New York" inputId="ny"></p-checkbox>
                                        <label class="label" for="ny"> 110 جرام <span> (8) </span></label>
                                    </div>
                                </p-accordionTab>
                                <p-accordionTab header="المعالجة">
                                    <div class="field-checkbox">
                                        <p-checkbox name="group1" value="New York" inputId="ny"></p-checkbox>
                                        <label class="label" for="ny"> 100 جرام <span> (8) </span></label>
                                    </div>
                                    <div class="field-checkbox">
                                        <p-checkbox name="group1" value="New York" inputId="ny"></p-checkbox>
                                        <label class="label" for="ny"> 250 جرام <span> (8) </span></label>
                                    </div>
                                    <div class="field-checkbox">
                                        <p-checkbox name="group1" value="New York" inputId="ny"></p-checkbox>
                                        <label class="label" for="ny"> 300 جرام <span> (8) </span></label>
                                    </div>
                                    <div class="field-checkbox">
                                        <p-checkbox name="group1" value="New York" inputId="ny"></p-checkbox>
                                        <label class="label" for="ny"> 130 جرام <span> (8) </span></label>
                                    </div>
                                    <div class="field-checkbox">
                                        <p-checkbox name="group1" value="New York" inputId="ny"></p-checkbox>
                                        <label class="label" for="ny"> 110 جرام <span> (8) </span></label>
                                    </div>
                                </p-accordionTab>
                                <p-accordionTab header="المصدر">
                                    <div class="field-checkbox">
                                        <p-checkbox name="group1" value="New York" inputId="ny"></p-checkbox>
                                        <label class="label" for="ny"> 100 جرام <span> (8) </span></label>
                                    </div>
                                    <div class="field-checkbox">
                                        <p-checkbox name="group1" value="New York" inputId="ny"></p-checkbox>
                                        <label class="label" for="ny"> 250 جرام <span> (8) </span></label>
                                    </div>
                                    <div class="field-checkbox">
                                        <p-checkbox name="group1" value="New York" inputId="ny"></p-checkbox>
                                        <label class="label" for="ny"> 300 جرام <span> (8) </span></label>
                                    </div>
                                    <div class="field-checkbox">
                                        <p-checkbox name="group1" value="New York" inputId="ny"></p-checkbox>
                                        <label class="label" for="ny"> 130 جرام <span> (8) </span></label>
                                    </div>
                                    <div class="field-checkbox">
                                        <p-checkbox name="group1" value="New York" inputId="ny"></p-checkbox>
                                        <label class="label" for="ny"> 110 جرام <span> (8) </span></label>
                                    </div>
                                </p-accordionTab>
                                <p-accordionTab header="السلالة">
                                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt
                                        in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit
                                        quo minus.</p>
                                </p-accordionTab>

                                <p-accordionTab header="الايحاءات">
                                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt
                                        in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit
                                        quo minus.</p>
                                </p-accordionTab>
                                <p-accordionTab header="نوع العبوة">
                                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt
                                        in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit
                                        quo minus.</p>
                                </p-accordionTab>
                                <p-accordionTab header="درجة التحميص">
                                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt
                                        in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit
                                        quo minus.</p>
                                </p-accordionTab>
                                <p-accordionTab header="التحضير">
                                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt
                                        in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit
                                        quo minus.</p>
                                </p-accordionTab>
                                <p-accordionTab header="النوع">
                                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt
                                        in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit
                                        quo minus.</p>
                                </p-accordionTab>
                            </p-accordion>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-6 col-12">
                        <section class="table">
                            <p-table [resizableColumns]="true" responsiveLayout="scroll" columnResizeMode="expand" class="table-responsive" [value]="product" sortMode="multiple">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th pSortableColumn="prod-img">

                                        </th>
                                        <th pSortableColumn="prod-name">اسم المنتج
                                            <p-sortIcon field="prod-name"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="price">السعر
                                            <p-sortIcon field="price"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="roaster">المحمصة
                                            <p-sortIcon field="roaster"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="source">المصادر
                                            <p-sortIcon field="source"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="overtones">الايحاءات
                                            <p-sortIcon field="overtones"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="processing">المعالجة
                                            <p-sortIcon field="processing"></p-sortIcon>
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-product>
                                    <tr>
                                        <td> <img width="70" height="100" src="../../../assets/images/product.png" alt=""> </td>
                                        <td>{{product.prodName}}</td>
                                        <td>{{product.price | currency: 'SAR'}}</td>
                                        <td>{{product.roaster}}</td>
                                        <td>{{product.source}}</td>
                                        <td>{{product.overtones}}</td>
                                        <td>{{product.processing}}</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </section>

                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
