@font-face {
    font-family: 'font-kafi';
    src: url('../fonts/font-kafi.eot?wv6m6c');
    src: url('../fonts/font-kafi.eot?wv6m6c#iefix') format('embedded-opentype'), url('../fonts/font-kafi.ttf?wv6m6c') format('truetype'), url('../fonts/font-kafi.woff?wv6m6c') format('woff'), url('../fonts/font-kafi.svg?wv6m6c#font-kafi') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'font-kafi' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-add:before {
    content: "\e900";
}

.icon-ads-campaign:before {
    content: "\e901";
}

.icon-arrow-left:before {
    content: "\e902";
}

.icon-arrow-left-bg:before {
    content: "\e903";
}

.icon-arrow-right:before {
    content: "\e904";
}

.icon-arrow-right-bg:before {
    content: "\e905";
}

.icon-bell:before {
    content: "\e906";
}

.icon-bell-clicked:before {
    content: "\e907";
}

.icon-bell-menu:before {
    content: "\e908";
}

.icon-blend:before {
    content: "\e909";
}

.icon-both:before {
    content: "\e90a";
}

.icon-budget:before {
    content: "\e90b";
}

.icon-budget-sm:before {
    content: "\e90c";
}

.icon-coffee-price:before {
    content: "\e90d";
}

.icon-campaign-name:before {
    content: "\e90e";
}

.icon-cart-outline:before {
    content: "\e90f";
}

.icon-check:before {
    content: "\e910";
}

.icon-choco:before {
    content: "\e911";
}

.icon-clicks:before {
    content: "\e912";
}

.icon-close:before {
    content: "\e913";
}

.icon-close-sm:before {
    content: "\e914";
}

.icon-coffee-bag:before {
    content: "\e915";
}

.icon-coffee-beans-fill:before {
    content: "\e916";
}

.icon-coffee-beans-outline:before {
    content: "\e917";
}

.icon-coffee-cup:before {
    content: "\e918";
}

.icon-coffee-hight:before {
    content: "\e919";
}

.icon-coffee-insp:before {
    content: "\e91a";
}

.icon-coffee-processing:before {
    content: "\e91b";
}

.icon-coffee-product-fill:before {
    content: "\e91c";
}

.icon-coffee-shop:before {
    content: "\e91d";
}

.icon-coffee-type:before {
    content: "\e91e";
}

.icon-coffee-weight:before {
    content: "\e91f";
}

.icon-cold-coffee:before {
    content: "\e920";
}

.icon-compare:before {
    content: "\e921";
}

.icon-con-code:before {
    content: "\e922";
}

.icon-control-panel:before {
    content: "\e923";
}

.icon-date:before {
    content: "\e924";
}

.icon-delete-outline:before {
    content: "\e925";
}

.icon-discount:before {
    content: "\e926";
}

.icon-done:before {
    content: "\e927";
}

.icon-duplicates:before {
    content: "\e928";
}

.icon-edit:before {
    content: "\e929";
}

.icon-edit-sm:before {
    content: "\e92a";
}

.icon-eye:before {
    content: "\e92b";
}

.icon-facebook:before {
    content: "\e92c";
}

.icon-favourite:before {
    content: "\e92d";
}

.icon-filter:before {
    content: "\e92e";
}

.icon-filters:before {
    content: "\e92f";
}

.icon-Grapes:before {
    content: "\e930";
}

.icon-grid-view:before {
    content: "\e931";
}

.icon-high-price:before {
    content: "\e932";
}

.icon-home:before {
    content: "\e933";
}

.icon-hot-coffee:before {
    content: "\e934";
}

.icon-inbox:before {
    content: "\e935";
}

.icon-info:before {
    content: "\e936";
}

.icon-info-roaster:before {
    content: "\e937";
}

.icon-instagram:before {
    content: "\e938";
}

.icon-instagram-fill:before {
    content: "\e939";
}

.icon-instagram-outline:before {
    content: "\e93a";
}

.icon-list-view:before {
    content: "\e93b";
}

.icon-location-fill:before {
    content: "\e93c";
}

.icon-location-outline:before {
    content: "\e93d";
}

.icon-coffee-location:before {
    content: "\e93e";
}

.icon-logout:before {
    content: "\e93f";
}

.icon-low-price:before {
    content: "\e940";
}

.icon-menu:before {
    content: "\e941";
}

.icon-message-outline:before {
    content: "\e942";
}

.icon-mid-price:before {
    content: "\e943";
}

.icon-more:before {
    content: "\e944";
}

.icon-less:before {
    content: "\e945";
}

.icon-notification .path1:before {
    content: "\e946";
    color: rgba(25, 24, 28, 0.9);
}

.icon-notification .path2:before {
    content: "\e947";
    margin-left: -0.9892578125em;
    color: rgb(223, 5, 5);
}

.icon-flag .path1:before {
    content: "\e948";
    color: rgb(0, 108, 53);
}

.icon-flag .path2:before {
    content: "\e949";
    margin-left: -1.5em;
    color: rgb(255, 255, 255);
}

.icon-flag .path3:before {
    content: "\e94a";
    margin-left: -1.5em;
    color: rgb(255, 255, 255);
}

.icon-flag .path4:before {
    content: "\e94b";
    margin-left: -1.5em;
    color: rgb(255, 255, 255);
}

.icon-flag .path5:before {
    content: "\e94c";
    margin-left: -1.5em;
    color: rgb(255, 255, 255);
}

.icon-flag .path6:before {
    content: "\e94d";
    margin-left: -1.5em;
    color: rgb(255, 255, 255);
}

.icon-flag .path7:before {
    content: "\e94e";
    margin-left: -1.5em;
    color: rgb(255, 255, 255);
}

.icon-flag .path8:before {
    content: "\e94f";
    margin-left: -1.5em;
    color: rgb(255, 255, 255);
}

.icon-flag .path9:before {
    content: "\e950";
    margin-left: -1.5em;
    color: rgb(255, 255, 255);
}

.icon-flag .path10:before {
    content: "\e951";
    margin-left: -1.5em;
    color: rgb(255, 255, 255);
}

.icon-flag .path11:before {
    content: "\e952";
    margin-left: -1.5em;
    color: rgb(255, 255, 255);
}

.icon-flag .path12:before {
    content: "\e953";
    margin-left: -1.5em;
    color: rgb(255, 255, 255);
}

.icon-flag .path13:before {
    content: "\e954";
    margin-left: -1.5em;
    color: rgb(255, 255, 255);
}

.icon-flag .path14:before {
    content: "\e955";
    margin-left: -1.5em;
    color: rgb(0, 108, 53);
}

.icon-flag .path15:before {
    content: "\e956";
    margin-left: -1.5em;
    color: rgb(255, 255, 255);
}

.icon-flag .path16:before {
    content: "\e957";
    margin-left: -1.5em;
    color: rgb(255, 255, 255);
}

.icon-flag .path17:before {
    content: "\e958";
    margin-left: -1.5em;
    color: rgb(255, 255, 255);
}

.icon-flag .path18:before {
    content: "\e959";
    margin-left: -1.5em;
    color: rgb(255, 255, 255);
}

.icon-flag .path19:before {
    content: "\e95a";
    margin-left: -1.5em;
    color: rgb(255, 255, 255);
}

.icon-flag .path20:before {
    content: "\e95b";
    margin-left: -1.5em;
    color: rgb(255, 255, 255);
}

.icon-flag .path21:before {
    content: "\e95c";
    margin-left: -1.5em;
    color: rgb(255, 255, 255);
}

.icon-flag .path22:before {
    content: "\e95d";
    margin-left: -1.5em;
    color: rgb(255, 255, 255);
}

.icon-flag .path23:before {
    content: "\e95e";
    margin-left: -1.5em;
    color: rgb(255, 255, 255);
}

.icon-flag .path24:before {
    content: "\e95f";
    margin-left: -1.5em;
    color: rgb(255, 255, 255);
}

.icon-flag .path25:before {
    content: "\e960";
    margin-left: -1.5em;
    color: rgb(255, 255, 255);
}

.icon-flag .path26:before {
    content: "\e961";
    margin-left: -1.5em;
    color: rgb(0, 108, 53);
}

.icon-flag .path27:before {
    content: "\e962";
    margin-left: -1.5em;
    color: rgb(255, 255, 255);
}

.icon-flag .path28:before {
    content: "\e963";
    margin-left: -1.5em;
    color: rgb(255, 255, 255);
}

.icon-flag .path29:before {
    content: "\e964";
    margin-left: -1.5em;
    color: rgb(255, 255, 255);
}

.icon-flag .path30:before {
    content: "\e965";
    margin-left: -1.5em;
    color: rgb(255, 255, 255);
}

.icon-flag .path31:before {
    content: "\e966";
    margin-left: -1.5em;
    color: rgb(255, 255, 255);
}

.icon-flag .path32:before {
    content: "\e967";
    margin-left: -1.5em;
    color: rgb(255, 255, 255);
}

.icon-flag .path33:before {
    content: "\e968";
    margin-left: -1.5em;
    color: rgb(255, 255, 255);
}

.icon-flag .path34:before {
    content: "\e969";
    margin-left: -1.5em;
    color: rgb(255, 255, 255);
}

.icon-flag .path35:before {
    content: "\e96a";
    margin-left: -1.5em;
    color: rgb(37, 159, 0);
}

.icon-flag .path36:before {
    content: "\e96b";
    margin-left: -1.5em;
    color: rgb(0, 108, 53);
}

.icon-flag .path37:before {
    content: "\e96c";
    margin-left: -1.5em;
    color: rgb(32, 144, 0);
}

.icon-offers-roaster:before {
    content: "\e96d";
}

.icon-open-details:before {
    content: "\e96e";
}

.icon-open-menu:before {
    content: "\e96f";
}

.icon-password:before {
    content: "\e970";
}

.icon-pay-plans:before {
    content: "\e971";
}

.icon-phone-outline:before {
    content: "\e972";
}

.icon-pintrest-fill:before {
    content: "\e973";
}

.icon-pluse:before {
    content: "\e974";
}

.icon-product-roaster:before {
    content: "\e975";
}

.icon-product-sm:before {
    content: "\e976";
}

.icon-product-type:before {
    content: "\e977";
}

.icon-Profile:before {
    content: "\e978";
}

.icon-roaster:before {
    content: "\e979";
}

.icon-roaster-beans:before {
    content: "\e97a";
}

.icon-scroll-top:before {
    content: "\e97b";
}

.icon-search:before {
    content: "\e97c";
}

.icon-search-sm:before {
    content: "\e97d";
}

.icon-share:before {
    content: "\e97e";
}

.icon-no:before {
    content: "\e97f";
}

.icon-yes:before {
    content: "\e980";
}

.icon-sometimes:before {
    content: "\e981";
}

.icon-sort:before {
    content: "\e982";
}

.icon-star-fill:before {
    content: "\e983";
}

.icon-star-outline:before {
    content: "\e984";
}

.icon-statistics:before {
    content: "\e985";
}

.icon-telegram-fill:before {
    content: "\e986";
}

.icon-twitter:before {
    content: "\e987";
}

.icon-twitter-outline:before {
    content: "\e988";
}

.icon-snapchat-fill:before {
    content: "\e989";
}

.icon-snapchat-outline:before {
    content: "\e98a";
}

.icon-youtube-fill:before {
    content: "\e98b";
}

.icon-youtube-outline:before {
    content: "\e98c";
}

.icon-whatsapp-fill:before {
    content: "\e98d";
}

.icon-whatsapp-outline:before {
    content: "\e98e";
}

.icon-user-female:before {
    content: "\e98f";
}

.icon-user-fill:before {
    content: "\e990";
}

.icon-user-male:before {
    content: "\e991";
}

.icon-user-outline:before {
    content: "\e992";
}

.icon-users:before {
    content: "\e993";
}

.icon-verified:before {
    content: "\e994";
}

.icon-views:before {
    content: "\e995";
}

.icon-visits:before {
    content: "\e996";
}

.icon-website-fill:before {
    content: "\e997";
}

.icon-website-outline:before {
    content: "\e998";
}

.icon-upload-file:before {
    content: "\e999";
}

.icon-moon:before {
    content: "\e99a";
}

.icon-noon:before {
    content: "\e99b";
}

.icon-sunrise:before {
    content: "\e99c";
}

.icon-sunset:before {
    content: "\e99d";
}

.icon-noun-low .path1:before {
    content: "\e99e";
    color: rgb(195, 195, 195);
}

.icon-noun-low .path2:before {
    content: "\e99f";
    margin-left: -2.4990234375em;
    color: rgb(195, 195, 195);
}

.icon-noun-low .path3:before {
    content: "\e9a0";
    margin-left: -2.4990234375em;
    color: rgb(195, 195, 195);
}

.icon-noun-low .path4:before {
    content: "\e9a1";
    margin-left: -2.4990234375em;
    color: rgb(255, 255, 255);
}

.icon-noun-low .path5:before {
    content: "\e9a2";
    margin-left: -2.4990234375em;
    color: rgb(195, 195, 195);
}

.icon-noun-low .path6:before {
    content: "\e9a3";
    margin-left: -2.4990234375em;
    color: rgb(195, 195, 195);
}

.icon-beans-mid .path1:before {
    content: "\e9a4";
    color: rgb(195, 195, 195);
}

.icon-beans-mid .path2:before {
    content: "\e9a5";
    margin-left: -2.4990234375em;
    color: rgb(255, 255, 255);
}

.icon-beans-mid .path3:before {
    content: "\e9a6";
    margin-left: -2.4990234375em;
    color: rgb(195, 195, 195);
}

.icon-beans-mid .path4:before {
    content: "\e9a7";
    margin-left: -2.4990234375em;
    color: rgb(195, 195, 195);
}

.icon-beans-mid .path5:before {
    content: "\e9a8";
    margin-left: -2.4990234375em;
    color: rgb(195, 195, 195);
}

.icon-beans-mid .path6:before {
    content: "\e9a9";
    margin-left: -2.4990234375em;
    color: rgb(195, 195, 195);
}

.icon-beans-mid .path7:before {
    content: "\e9aa";
    margin-left: -2.4990234375em;
    color: rgb(195, 195, 195);
}

.icon-beans-mid .path8:before {
    content: "\e9ab";
    margin-left: -2.4990234375em;
    color: rgb(255, 255, 255);
}

.icon-beans-strong .path1:before {
    content: "\e9ac";
    color: rgb(195, 195, 195);
}

.icon-beans-strong .path2:before {
    content: "\e9ad";
    margin-left: -2.4990234375em;
    color: rgb(255, 255, 255);
}

.icon-beans-strong .path3:before {
    content: "\e9ae";
    margin-left: -2.4990234375em;
    color: rgb(195, 195, 195);
}

.icon-beans-strong .path4:before {
    content: "\e9af";
    margin-left: -2.4990234375em;
    color: rgb(255, 255, 255);
}

.icon-beans-strong .path5:before {
    content: "\e9b0";
    margin-left: -2.4990234375em;
    color: rgb(195, 195, 195);
}

.icon-beans-strong .path6:before {
    content: "\e9b1";
    margin-left: -2.4990234375em;
    color: rgb(255, 255, 255);
}
