<div class="wrap-bg">
    <section class="products">
        <nav style="--bs-breadcrumb-divider: '';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">الرئيسية</a></li>
                <li class="breadcrumb-item"> <i class="fa fa-angle-left"></i> </li>
                <li class="breadcrumb-item active" aria-current="page">تواصل معنا</li>
            </ol>
        </nav>
        <div class="container-fluid kaffi-container">
            <section class="product">
                <div class="prod-nummber text-center mb-5 hidden-desktop">
                    <h2> عدد المنتجات المفضلة <span> (16) </span> </h2>
                </div>
                <div class="product-filter d-flex justify-content-between align-items-center">
                    <div class="filterByPrice">
                        <form>
                            <div class="form-group">
                                <label class="lable"> ترتيب حسب </label>
                                <select class="select-transparent">
                          <option> السعر </option>
                          <option> السعر </option>
                          <option> السعر </option>
                        </select>
                            </div>
                        </form>
                    </div>
                    <div class="prod-nummber hidden-mobile">
                        <h2> عدد المنتجات المفضلة <span> (16) </span> </h2>
                    </div>
                    <div class="show-mode">
                        <span> <img src="../../../assets/images/grid.svg" alt=""> </span>
                        <span> <img src="../../../assets/images/list.svg" alt=""> </span>
                    </div>
                </div>
                <div class="product-content">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-12">
                            <div class="product-card">
                                <div class="prod-content">
                                    <div class="prod-img text-center">
                                        <a routerLink="/product-details" class="nav-link"> <img src="../../../assets/images/product.png" alt=""> </a>
                                    </div>
                                    <div class="prod-title text-center"> <a routerLink="/product-details"> أكيا | البرازيل </a> </div>
                                    <div class="prod-type text-center"> البروفايل </div>
                                    <div class="prod-offers">
                                        <span> خصم 30 ٪ </span>
                                    </div>
                                    <div class="prod-bill">
                                        <span> <i class="fa fa-bell" aria-hidden="true"></i> </span>
                                    </div>
                                </div>
                                <div class="prod-footer">
                                    <ul class="nav">
                                        <li class="nav-item pricing">
                                            <span class="dicount"> 40 رس </span>
                                            <span class="price"> 28 رس </span>
                                        </li>
                                        <li class="nav-item icons-hovers">
                                            <a href="#" class="nav-link"> <i class="fa fa-eye" aria-hidden="true"></i> </a>
                                        </li>
                                        <li class="nav-item icons-hovers">
                                            <a href="#" class="nav-link"> <i class="fa fa-random" aria-hidden="true"></i> </a>
                                        </li>
                                        <li class="nav-item icons-hovers">
                                            <a href="#" class="nav-link"> <i class="fa fa-heart-o" aria-hidden="true"></i> </a>
                                        </li>
                                        <li class="nav-item icons">
                                            <a href="#" class="nav-link"> <i class="fa fa-external-link" aria-hidden="true"></i> </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-12">
                            <div class="product-card">
                                <div class="prod-content">
                                    <div class="prod-img text-center">
                                        <a routerLink="/product-details" class="nav-link"> <img src="../../../assets/images/product.png" alt=""> </a>
                                    </div>
                                    <div class="prod-title text-center"> <a routerLink="/product-details"> أكيا | البرازيل </a> </div>
                                    <div class="prod-type text-center"> البروفايل </div>
                                    <div class="prod-offers">
                                        <span> خصم 30 ٪ </span>
                                    </div>
                                    <div class="prod-bill">
                                        <span> <i class="fa fa-bell" aria-hidden="true"></i> </span>
                                    </div>
                                </div>
                                <div class="prod-footer">
                                    <ul class="nav">
                                        <li class="nav-item pricing">
                                            <span class="dicount"> 40 رس </span>
                                            <span class="price"> 28 رس </span>
                                        </li>
                                        <li class="nav-item icons-hovers">
                                            <a href="#" class="nav-link"> <i class="fa fa-eye" aria-hidden="true"></i> </a>
                                        </li>
                                        <li class="nav-item icons-hovers">
                                            <a href="#" class="nav-link"> <i class="fa fa-random" aria-hidden="true"></i> </a>
                                        </li>
                                        <li class="nav-item icons-hovers">
                                            <a href="#" class="nav-link"> <i class="fa fa-heart-o" aria-hidden="true"></i> </a>
                                        </li>
                                        <li class="nav-item icons">
                                            <a href="#" class="nav-link"> <i class="fa fa-external-link" aria-hidden="true"></i> </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-12">
                            <div class="product-card">
                                <div class="prod-content">
                                    <div class="prod-img text-center">
                                        <a href="#" class="nav-link"> <img src="../../../assets/images/product.png" alt=""> </a>
                                    </div>
                                    <div class="prod-title text-center"> <a href="#"> أكيا | البرازيل </a> </div>
                                    <div class="prod-type text-center"> البروفايل </div>
                                    <div class="prod-offers">
                                        <span> خصم 30 ٪ </span>
                                    </div>
                                    <div class="prod-bill">
                                        <span> <i class="fa fa-bell" aria-hidden="true"></i> </span>
                                    </div>
                                </div>
                                <div class="prod-footer">
                                    <ul class="nav">
                                        <li class="nav-item pricing">
                                            <span class="dicount"> 40 رس </span>
                                            <span class="price"> 28 رس </span>
                                        </li>
                                        <li class="nav-item icons-hovers">
                                            <a href="#" class="nav-link"> <i class="fa fa-eye" aria-hidden="true"></i> </a>
                                        </li>
                                        <li class="nav-item icons-hovers">
                                            <a href="#" class="nav-link"> <i class="fa fa-random" aria-hidden="true"></i> </a>
                                        </li>
                                        <li class="nav-item icons-hovers">
                                            <a href="#" class="nav-link"> <i class="fa fa-heart-o" aria-hidden="true"></i> </a>
                                        </li>
                                        <li class="nav-item icons">
                                            <a href="#" class="nav-link"> <i class="fa fa-external-link" aria-hidden="true"></i> </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-12">
                            <div class="product-card">
                                <div class="prod-content">
                                    <div class="prod-img text-center">
                                        <a href="#" class="nav-link"> <img src="../../../assets/images/product.png" alt=""> </a>
                                    </div>
                                    <div class="prod-title text-center"> <a href="#"> أكيا | البرازيل </a> </div>
                                    <div class="prod-type text-center"> البروفايل </div>
                                    <div class="prod-offers">
                                        <span> خصم 30 ٪ </span>
                                    </div>
                                    <div class="prod-bill">
                                        <span> <i class="fa fa-bell" aria-hidden="true"></i> </span>
                                    </div>
                                </div>
                                <div class="prod-footer">
                                    <ul class="nav">
                                        <li class="nav-item pricing">
                                            <span class="dicount"> 40 رس </span>
                                            <span class="price"> 28 رس </span>
                                        </li>
                                        <li class="nav-item icons-hovers">
                                            <a href="#" class="nav-link"> <i class="fa fa-eye" aria-hidden="true"></i> </a>
                                        </li>
                                        <li class="nav-item icons-hovers">
                                            <a href="#" class="nav-link"> <i class="fa fa-random" aria-hidden="true"></i> </a>
                                        </li>
                                        <li class="nav-item icons-hovers">
                                            <a href="#" class="nav-link"> <i class="fa fa-heart-o" aria-hidden="true"></i> </a>
                                        </li>
                                        <li class="nav-item icons">
                                            <a href="#" class="nav-link"> <i class="fa fa-external-link" aria-hidden="true"></i> </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-12">
                            <div class="product-card">
                                <div class="prod-content">
                                    <div class="prod-img text-center">
                                        <a href="#" class="nav-link"> <img src="../../../assets/images/product.png" alt=""> </a>
                                    </div>
                                    <div class="prod-title text-center"> <a href="#"> أكيا | البرازيل </a> </div>
                                    <div class="prod-type text-center"> البروفايل </div>
                                    <div class="prod-offers">
                                        <span> خصم 30 ٪ </span>
                                    </div>
                                    <div class="prod-bill">
                                        <span> <i class="fa fa-bell" aria-hidden="true"></i> </span>
                                    </div>
                                </div>
                                <div class="prod-footer">
                                    <ul class="nav">
                                        <li class="nav-item pricing">
                                            <span class="dicount"> 40 رس </span>
                                            <span class="price"> 28 رس </span>
                                        </li>
                                        <li class="nav-item icons-hovers">
                                            <a href="#" class="nav-link"> <i class="fa fa-eye" aria-hidden="true"></i> </a>
                                        </li>
                                        <li class="nav-item icons-hovers">
                                            <a href="#" class="nav-link"> <i class="fa fa-random" aria-hidden="true"></i> </a>
                                        </li>
                                        <li class="nav-item icons-hovers">
                                            <a href="#" class="nav-link"> <i class="fa fa-heart-o" aria-hidden="true"></i> </a>
                                        </li>
                                        <li class="nav-item icons">
                                            <a href="#" class="nav-link"> <i class="fa fa-external-link" aria-hidden="true"></i> </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-12">
                            <div class="product-card">
                                <div class="prod-content">
                                    <div class="prod-img text-center">
                                        <a href="#" class="nav-link"> <img src="../../../assets/images/product.png" alt=""> </a>
                                    </div>
                                    <div class="prod-title text-center"> <a href="#"> أكيا | البرازيل </a> </div>
                                    <div class="prod-type text-center"> البروفايل </div>
                                    <div class="prod-offers">
                                        <span> خصم 30 ٪ </span>
                                    </div>
                                    <div class="prod-bill">
                                        <span> <i class="fa fa-bell" aria-hidden="true"></i> </span>
                                    </div>
                                </div>
                                <div class="prod-footer">
                                    <ul class="nav">
                                        <li class="nav-item pricing">
                                            <span class="dicount"> 40 رس </span>
                                            <span class="price"> 28 رس </span>
                                        </li>
                                        <li class="nav-item icons-hovers">
                                            <a href="#" class="nav-link"> <i class="fa fa-eye" aria-hidden="true"></i> </a>
                                        </li>
                                        <li class="nav-item icons-hovers">
                                            <a href="#" class="nav-link"> <i class="fa fa-random" aria-hidden="true"></i> </a>
                                        </li>
                                        <li class="nav-item icons-hovers">
                                            <a href="#" class="nav-link"> <i class="fa fa-heart-o" aria-hidden="true"></i> </a>
                                        </li>
                                        <li class="nav-item icons">
                                            <a href="#" class="nav-link"> <i class="fa fa-external-link" aria-hidden="true"></i> </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-12">
                            <div class="product-card">
                                <div class="prod-content">
                                    <div class="prod-img text-center">
                                        <a href="#" class="nav-link"> <img src="../../../assets/images/product.png" alt=""> </a>
                                    </div>
                                    <div class="prod-title text-center"> <a href="#"> أكيا | البرازيل </a> </div>
                                    <div class="prod-type text-center"> البروفايل </div>
                                    <div class="prod-offers">
                                        <span> خصم 30 ٪ </span>
                                    </div>
                                    <div class="prod-bill">
                                        <span> <i class="fa fa-bell" aria-hidden="true"></i> </span>
                                    </div>
                                </div>
                                <div class="prod-footer">
                                    <ul class="nav">
                                        <li class="nav-item pricing">
                                            <span class="dicount"> 40 رس </span>
                                            <span class="price"> 28 رس </span>
                                        </li>
                                        <li class="nav-item icons-hovers">
                                            <a href="#" class="nav-link"> <i class="fa fa-eye" aria-hidden="true"></i> </a>
                                        </li>
                                        <li class="nav-item icons-hovers">
                                            <a href="#" class="nav-link"> <i class="fa fa-random" aria-hidden="true"></i> </a>
                                        </li>
                                        <li class="nav-item icons-hovers">
                                            <a href="#" class="nav-link"> <i class="fa fa-heart-o" aria-hidden="true"></i> </a>
                                        </li>
                                        <li class="nav-item icons">
                                            <a href="#" class="nav-link"> <i class="fa fa-external-link" aria-hidden="true"></i> </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-12">
                            <div class="product-card">
                                <div class="prod-content">
                                    <div class="prod-img text-center">
                                        <a href="#" class="nav-link"> <img src="../../../assets/images/product.png" alt=""> </a>
                                    </div>
                                    <div class="prod-title text-center"> <a href="#"> أكيا | البرازيل </a> </div>
                                    <div class="prod-type text-center"> البروفايل </div>
                                    <div class="prod-offers">
                                        <span> خصم 30 ٪ </span>
                                    </div>
                                    <div class="prod-bill">
                                        <span> <i class="fa fa-bell" aria-hidden="true"></i> </span>
                                    </div>
                                </div>
                                <div class="prod-footer">
                                    <ul class="nav">
                                        <li class="nav-item pricing">
                                            <span class="dicount"> 40 رس </span>
                                            <span class="price"> 28 رس </span>
                                        </li>
                                        <li class="nav-item icons-hovers">
                                            <a href="#" class="nav-link"> <i class="fa fa-eye" aria-hidden="true"></i> </a>
                                        </li>
                                        <li class="nav-item icons-hovers">
                                            <a href="#" class="nav-link"> <i class="fa fa-random" aria-hidden="true"></i> </a>
                                        </li>
                                        <li class="nav-item icons-hovers">
                                            <a href="#" class="nav-link"> <i class="fa fa-heart-o" aria-hidden="true"></i> </a>
                                        </li>
                                        <li class="nav-item icons">
                                            <a href="#" class="nav-link"> <i class="fa fa-external-link" aria-hidden="true"></i> </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pages">
                    <div class="arrowAndNumbber">
                        <div>
                            <span class="icons active"> <i class="fa fa-angle-right"></i> </span>
                            <span class="icons"> <i class="fa fa-angle-left"></i> </span>
                        </div>
                        <div class="nummbers">
                            <span class="number"> 5 </span>
                            <span class="text"> من </span>
                            <span class="number"> 1 </span>
                        </div>
                    </div>
                    <div class="pageNext">
                        <button class="btn btn-success"> الصفحة التالية <i class="fa fa-arrow-left"></i> </button>
                    </div>
                </div>
            </section>
        </div>
    </section>
</div>
