<div class="wrap-bg">
    <section class="aboutus">
        <nav style="--bs-breadcrumb-divider: '';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">الرئيسية</a></li>
                <li class="breadcrumb-item"> <i class="fa fa-angle-left"></i> </li>
                <li class="breadcrumb-item active" aria-current="page"> عنا </li>
            </ol>
        </nav>
        <div class="container-fluid kaffi-container">
            <section class="about">
                <div class="about-kaffi">
                    <div class="row align-items-center">
                        <div class="col-lg-2 col-md-6 col-12"> <img src="../../../assets/images/Logo-simp.svg"> </div>
                        <div class="col-lg-10 col-md-6 col-12">
                            <div class="title"> عن كافي </div>
                            <div class="text"> نحن مجموعة من الباحثين المتخصصين فى جمع وتحليل البيانات حيث نستخدم خوارزميات لاستخراج أنماط بيانات تقدم حلول ذكية، ومن هذا المنطلق نقدم حل جديد لجمع وتنقية بيانات منتجات القهوة لأكثر من 50 محمصة تغطى ارض المملكة. من خلال منصتنا
                                تستطيع الاستفادة من هذه الميزات </div>
                        </div>
                    </div>
                </div>
                <div class="about-indvadual">
                    <div class="head-title"> للأفراد </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-12">
                            <div class="indvadual-box">
                                <div class="image">
                                    <img src="../../../assets/images/Coffee-Data-icon.svg" alt="">
                                </div>
                                <div class="title"> جمع بيانات المنتجات </div>
                                <div class="text"> نقوم بجمع بيانات منتجات القهوة المختصة من ما يزيد عن 50 محمصة حول المملكة </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-12">
                            <div class="indvadual-box">
                                <div class="image">
                                    <img src="../../../assets/images/price-track-icon.svg" alt="">
                                </div>
                                <div class="title"> جمع بيانات المنتجات </div>
                                <div class="text"> نقوم بجمع بيانات منتجات القهوة المختصة من ما يزيد عن 50 محمصة حول المملكة </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-12">
                            <div class="indvadual-box">
                                <div class="image">
                                    <img src="../../../assets/images/data-icon.svg" alt="">
                                </div>
                                <div class="title"> جمع بيانات المنتجات </div>
                                <div class="text"> نقوم بجمع بيانات منتجات القهوة المختصة من ما يزيد عن 50 محمصة حول المملكة </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-12">
                            <div class="indvadual-box">
                                <div class="image">
                                    <img src="../../../assets/images/coffee-map-icon.svg" alt="">
                                </div>
                                <div class="title"> جمع بيانات المنتجات </div>
                                <div class="text"> نقوم بجمع بيانات منتجات القهوة المختصة من ما يزيد عن 50 محمصة حول المملكة </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="owners-toasters">
                    <div class="head-title"> لملّاك المحامص </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-12">
                            <div class="indvadual-box">
                                <div class="image">
                                    <img src="../../../assets/images/users-statistics.svg" alt="">
                                </div>
                                <div class="title"> جمع بيانات المنتجات </div>
                                <div class="text"> نقوم بجمع بيانات منتجات القهوة المختصة من ما يزيد عن 50 محمصة حول المملكة </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-12">
                            <div class="indvadual-box">
                                <div class="image">
                                    <img src="../../../assets/images/users-statistics-icon.svg" alt="">
                                </div>
                                <div class="title"> جمع بيانات المنتجات </div>
                                <div class="text"> نقوم بجمع بيانات منتجات القهوة المختصة من ما يزيد عن 50 محمصة حول المملكة </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-12">
                            <div class="indvadual-box">
                                <div class="image">
                                    <img src="../../../assets/images/campaign.svg" alt="">
                                </div>
                                <div class="title"> جمع بيانات المنتجات </div>
                                <div class="text"> نقوم بجمع بيانات منتجات القهوة المختصة من ما يزيد عن 50 محمصة حول المملكة </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-12">
                            <div class="indvadual-box">
                                <div class="image">
                                    <img src="../../../assets/images/priceing.svg" alt="">
                                </div>
                                <div class="title"> جمع بيانات المنتجات </div>
                                <div class="text"> نقوم بجمع بيانات منتجات القهوة المختصة من ما يزيد عن 50 محمصة حول المملكة </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>
</div>
