<div class="wrap-bg">
    <section class="roaster-profile">
        <nav style="--bs-breadcrumb-divider: '';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">الرئيسية</a></li>
                <li class="breadcrumb-item"> <i class="fa fa-angle-left"></i> </li>
                <li class="breadcrumb-item active" aria-current="page"> المحامص </li>
            </ol>
        </nav>
        <div class="container-fluid kaffi-container">
            <div class="content-grid">
                <div class="hidden-desktop">
                    <div class="add-fav ">
                        <p> إضافة إلى المحامص المفضلة </p>
                        <p> <img src="../../../assets/images/star-icon.svg" alt=""> </p>
                    </div>
                </div>

                <div class="content-item">
                    <div class="sidebar">
                        <div class="head-area d-flex flex-column align-items-center justify-content-center">
                            <div class="logo"> <img src="../../../assets/images/toasters/logo-9.png" alt=""> </div>
                            <div class="title"> محمصة خطوة جمل </div>
                            <ul class="nav">
                                <li>
                                    المنتجات
                                    <p> 25 </p>
                                </li>
                                <li>
                                    المنتجات
                                    <p> 25 </p>
                                </li>
                            </ul>
                        </div>
                        <div class="status text-center">
                            <p> الحالة :<span> موثق <img src="../../../assets/images/v-icon.svg" alt=""> </span> </p>
                        </div>
                        <div class="paragraph">
                            <div class="title"> عن المحمصة </div>
                            <p> محمصة خطوة جمل هي واحدة من أولى محلات التحميص المتخصصة في المملكة العربية السعودية والتي تهدف إلى الإرتقاء بمستوى جودة البن في السوق المحلية بشكل خاص والإقليمية بشكل عام. نسعى في المحمصة على نشر المعرفة والثقافة حول القهوة
                            </p>
                        </div>
                        <ul class="nav contact-links flex-column">
                            <li class="nav-item"> <img src="../../../assets/images/pin.svg" alt=""> الرياض - حي التعاون </li>
                            <li class="nav-item"> <img src="../../../assets/images/phone-icon.svg" alt=""> 9200 00689 </li>
                            <li class="nav-item"> <img src="../../../assets/images/Message.svg" alt=""> support@camelstep.com </li>
                            <li class="nav-item"> <img src="../../../assets/images/globle.svg" alt=""> http://www.camelstep.com </li>
                        </ul>
                        <div class="social-links d-flex justify-content-between align-items-center">
                            <a href="#"> <img src="../../../assets/images/w-icon.svg" alt=""> </a>
                            <a href="#"> <img src="../../../assets/images/ins-icon.svg" alt=""> </a>
                            <a href="#"> <img src="../../../assets/images/twitter-icon.svg" alt=""> </a>
                            <a href="#"> <img src="../../../assets/images/snap-icon.svg" alt=""> </a>
                            <a href="#"> <img src="../../../assets/images/yt-icon.svg" alt=""> </a>
                        </div>
                    </div>
                    <div class="add-fav hidden-mobile">
                        <p> إضافة إلى المحامص المفضلة </p>
                        <p> <img src="../../../assets/images/star-icon.svg" alt=""> </p>
                    </div>
                </div>
                <div class="content-item">
                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="pills-1-tab" data-bs-toggle="pill" data-bs-target="#pills-1" type="button" role="tab" aria-controls="pills-1" aria-selected="true">
                              <img src="../../../assets/images/product-icon.svg" alt="">
                               منتجات <span class="hidden-mobile"> المحمصة </span>
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-2-tab" data-bs-toggle="pill" data-bs-target="#pills-2" type="button" role="tab" aria-controls="pills-2" aria-selected="false">
                              <img src="../../../assets/images/dis-icon.svg" alt="">
                              عروض <span class="hidden-mobile"> المحمصة </span>
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-3-tab" data-bs-toggle="pill" data-bs-target="#pills-3" type="button" role="tab" aria-controls="pills-3" aria-selected="false">
                              <img src="../../../assets/images/graph-icon.svg" alt="">
                              إحصاءيات <span class="hidden-mobile"> المحمصة </span>
                            </button>
                        </li>
                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-1" role="tabpanel" aria-labelledby="pills-1-tab">
                            <div class="product-filter d-flex justify-content-between align-items-center">
                                <div class="filterByPrice">
                                    <form>
                                        <div class="form-group">
                                            <label class="lable"> ترتيب حسب </label>
                                            <select class="select-transparent">
                                        <option> السعر </option>
                                        <option> السعر </option>
                                        <option> السعر </option>
                                      </select>
                                        </div>
                                    </form>
                                </div>
                                <div class="show-mode">
                                    <span> <img src="../../../assets/images/grid.svg" alt=""> </span>
                                    <span> <img src="../../../assets/images/list.svg" alt=""> </span>
                                </div>
                            </div>
                            <div class="products">
                                <div class="product-content">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-6 col-12">
                                            <div class="product-card">
                                                <div class="prod-content">
                                                    <div class="prod-img text-center">
                                                        <a routerLink="/product-details" class="nav-link"> <img src="../../../assets/images/product.png" alt=""> </a>
                                                    </div>
                                                    <div class="prod-title text-center"> <a routerLink="/product-details"> أكيا | البرازيل </a> </div>
                                                    <div class="prod-type text-center"> البروفايل </div>
                                                    <div class="prod-offers">
                                                        <span> خصم 30 ٪ </span>
                                                    </div>
                                                    <div class="prod-bill">
                                                        <span> <i class="fa fa-bell" aria-hidden="true"></i> </span>
                                                    </div>
                                                </div>
                                                <div class="prod-footer">
                                                    <ul class="nav">
                                                        <li class="nav-item pricing">
                                                            <span class="dicount"> 40 رس </span>
                                                            <span class="price"> 28 رس </span>
                                                        </li>
                                                        <li class="nav-item icons-hovers">
                                                            <a href="#" class="nav-link">
                                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                                                <span> مشاهده سريعه </span>
                                                            </a>
                                                        </li>
                                                        <li class="nav-item icons-hovers">
                                                            <a href="#" class="nav-link">
                                                                <i class="fa fa-random" aria-hidden="true"></i>
                                                                <span> مقارنه </span>
                                                            </a>
                                                        </li>
                                                        <li class="nav-item icons-hovers">
                                                            <a href="#" class="nav-link">
                                                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                                                                <span> تفضيل </span>
                                                            </a>
                                                        </li>
                                                        <li class="nav-item icons">
                                                            <a href="#" class="nav-link">
                                                                <i class="fa fa-external-link" aria-hidden="true"></i>
                                                                <span> تفاصيل المنتج </span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6 col-12">
                                            <div class="product-card">
                                                <div class="prod-content">
                                                    <div class="prod-img text-center">
                                                        <a routerLink="/product-details" class="nav-link"> <img src="../../../assets/images/product.png" alt=""> </a>
                                                    </div>
                                                    <div class="prod-title text-center"> <a routerLink="/product-details"> أكيا | البرازيل </a> </div>
                                                    <div class="prod-type text-center"> البروفايل </div>
                                                    <div class="prod-offers">
                                                        <span> خصم 30 ٪ </span>
                                                    </div>
                                                    <div class="prod-bill">
                                                        <span> <i class="fa fa-bell" aria-hidden="true"></i> </span>
                                                    </div>
                                                </div>
                                                <div class="prod-footer">
                                                    <ul class="nav">
                                                        <li class="nav-item pricing">
                                                            <span class="dicount"> 40 رس </span>
                                                            <span class="price"> 28 رس </span>
                                                        </li>
                                                        <li class="nav-item icons-hovers">
                                                            <a href="#" class="nav-link">
                                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                                                <span> مشاهده سريعه </span>
                                                            </a>
                                                        </li>
                                                        <li class="nav-item icons-hovers">
                                                            <a href="#" class="nav-link">
                                                                <i class="fa fa-random" aria-hidden="true"></i>
                                                                <span> مقارنه </span>
                                                            </a>
                                                        </li>
                                                        <li class="nav-item icons-hovers">
                                                            <a href="#" class="nav-link">
                                                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                                                                <span> تفضيل </span>
                                                            </a>
                                                        </li>
                                                        <li class="nav-item icons">
                                                            <a href="#" class="nav-link">
                                                                <i class="fa fa-external-link" aria-hidden="true"></i>
                                                                <span> تفاصيل المنتج </span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6 col-12">
                                            <div class="product-card">
                                                <div class="prod-content">
                                                    <div class="prod-img text-center">
                                                        <a routerLink="/product-details" class="nav-link"> <img src="../../../assets/images/product.png" alt=""> </a>
                                                    </div>
                                                    <div class="prod-title text-center"> <a routerLink="/product-details"> أكيا | البرازيل </a> </div>
                                                    <div class="prod-type text-center"> البروفايل </div>
                                                    <div class="prod-offers">
                                                        <span> خصم 30 ٪ </span>
                                                    </div>
                                                    <div class="prod-bill">
                                                        <span> <i class="fa fa-bell" aria-hidden="true"></i> </span>
                                                    </div>
                                                </div>
                                                <div class="prod-footer">
                                                    <ul class="nav">
                                                        <li class="nav-item pricing">
                                                            <span class="dicount"> 40 رس </span>
                                                            <span class="price"> 28 رس </span>
                                                        </li>
                                                        <li class="nav-item icons-hovers">
                                                            <a href="#" class="nav-link">
                                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                                                <span> مشاهده سريعه </span>
                                                            </a>
                                                        </li>
                                                        <li class="nav-item icons-hovers">
                                                            <a href="#" class="nav-link">
                                                                <i class="fa fa-random" aria-hidden="true"></i>
                                                                <span> مقارنه </span>
                                                            </a>
                                                        </li>
                                                        <li class="nav-item icons-hovers">
                                                            <a href="#" class="nav-link">
                                                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                                                                <span> تفضيل </span>
                                                            </a>
                                                        </li>
                                                        <li class="nav-item icons">
                                                            <a href="#" class="nav-link">
                                                                <i class="fa fa-external-link" aria-hidden="true"></i>
                                                                <span> تفاصيل المنتج </span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6 col-12">
                                            <div class="product-card">
                                                <div class="prod-content">
                                                    <div class="prod-img text-center">
                                                        <a routerLink="/product-details" class="nav-link"> <img src="../../../assets/images/product.png" alt=""> </a>
                                                    </div>
                                                    <div class="prod-title text-center"> <a routerLink="/product-details"> أكيا | البرازيل </a> </div>
                                                    <div class="prod-type text-center"> البروفايل </div>
                                                    <div class="prod-offers">
                                                        <span> خصم 30 ٪ </span>
                                                    </div>
                                                    <div class="prod-bill">
                                                        <span> <i class="fa fa-bell" aria-hidden="true"></i> </span>
                                                    </div>
                                                </div>
                                                <div class="prod-footer">
                                                    <ul class="nav">
                                                        <li class="nav-item pricing">
                                                            <span class="dicount"> 40 رس </span>
                                                            <span class="price"> 28 رس </span>
                                                        </li>
                                                        <li class="nav-item icons-hovers">
                                                            <a href="#" class="nav-link">
                                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                                                <span> مشاهده سريعه </span>
                                                            </a>
                                                        </li>
                                                        <li class="nav-item icons-hovers">
                                                            <a href="#" class="nav-link">
                                                                <i class="fa fa-random" aria-hidden="true"></i>
                                                                <span> مقارنه </span>
                                                            </a>
                                                        </li>
                                                        <li class="nav-item icons-hovers">
                                                            <a href="#" class="nav-link">
                                                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                                                                <span> تفضيل </span>
                                                            </a>
                                                        </li>
                                                        <li class="nav-item icons">
                                                            <a href="#" class="nav-link">
                                                                <i class="fa fa-external-link" aria-hidden="true"></i>
                                                                <span> تفاصيل المنتج </span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6 col-12">
                                            <div class="product-card">
                                                <div class="prod-content">
                                                    <div class="prod-img text-center">
                                                        <a routerLink="/product-details" class="nav-link"> <img src="../../../assets/images/product.png" alt=""> </a>
                                                    </div>
                                                    <div class="prod-title text-center"> <a routerLink="/product-details"> أكيا | البرازيل </a> </div>
                                                    <div class="prod-type text-center"> البروفايل </div>
                                                    <div class="prod-offers">
                                                        <span> خصم 30 ٪ </span>
                                                    </div>
                                                    <div class="prod-bill">
                                                        <span> <i class="fa fa-bell" aria-hidden="true"></i> </span>
                                                    </div>
                                                </div>
                                                <div class="prod-footer">
                                                    <ul class="nav">
                                                        <li class="nav-item pricing">
                                                            <span class="dicount"> 40 رس </span>
                                                            <span class="price"> 28 رس </span>
                                                        </li>
                                                        <li class="nav-item icons-hovers">
                                                            <a href="#" class="nav-link">
                                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                                                <span> مشاهده سريعه </span>
                                                            </a>
                                                        </li>
                                                        <li class="nav-item icons-hovers">
                                                            <a href="#" class="nav-link">
                                                                <i class="fa fa-random" aria-hidden="true"></i>
                                                                <span> مقارنه </span>
                                                            </a>
                                                        </li>
                                                        <li class="nav-item icons-hovers">
                                                            <a href="#" class="nav-link">
                                                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                                                                <span> تفضيل </span>
                                                            </a>
                                                        </li>
                                                        <li class="nav-item icons">
                                                            <a href="#" class="nav-link">
                                                                <i class="fa fa-external-link" aria-hidden="true"></i>
                                                                <span> تفاصيل المنتج </span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6 col-12">
                                            <div class="product-card">
                                                <div class="prod-content">
                                                    <div class="prod-img text-center">
                                                        <a routerLink="/product-details" class="nav-link"> <img src="../../../assets/images/product.png" alt=""> </a>
                                                    </div>
                                                    <div class="prod-title text-center"> <a routerLink="/product-details"> أكيا | البرازيل </a> </div>
                                                    <div class="prod-type text-center"> البروفايل </div>
                                                    <div class="prod-offers">
                                                        <span> خصم 30 ٪ </span>
                                                    </div>
                                                    <div class="prod-bill">
                                                        <span> <i class="fa fa-bell" aria-hidden="true"></i> </span>
                                                    </div>
                                                </div>
                                                <div class="prod-footer">
                                                    <ul class="nav">
                                                        <li class="nav-item pricing">
                                                            <span class="dicount"> 40 رس </span>
                                                            <span class="price"> 28 رس </span>
                                                        </li>
                                                        <li class="nav-item icons-hovers">
                                                            <a href="#" class="nav-link">
                                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                                                <span> مشاهده سريعه </span>
                                                            </a>
                                                        </li>
                                                        <li class="nav-item icons-hovers">
                                                            <a href="#" class="nav-link">
                                                                <i class="fa fa-random" aria-hidden="true"></i>
                                                                <span> مقارنه </span>
                                                            </a>
                                                        </li>
                                                        <li class="nav-item icons-hovers">
                                                            <a href="#" class="nav-link">
                                                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                                                                <span> تفضيل </span>
                                                            </a>
                                                        </li>
                                                        <li class="nav-item icons">
                                                            <a href="#" class="nav-link">
                                                                <i class="fa fa-external-link" aria-hidden="true"></i>
                                                                <span> تفاصيل المنتج </span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-2" role="tabpanel" aria-labelledby="pills-2-tab">
                            <div class="discounts">
                                <div class="title"> الخصومات </div>
                                <div class="discount-message">
                                    <img src="../../../assets/images/dis-icon-1.svg" alt="">
                                    <span> خصم 15٪ عند شرائكم ٤ أكياس ٢٥٠ قرام من أي قهوة </span>
                                </div>
                            </div>
                            <div class="product-filter d-flex justify-content-between align-items-center">
                                <div class="filterByPrice">
                                    <form>
                                        <div class="form-group">
                                            <label class="lable"> ترتيب حسب </label>
                                            <select class="select-transparent">
                                    <option> السعر </option>
                                    <option> السعر </option>
                                    <option> السعر </option>
                                  </select>
                                        </div>
                                    </form>
                                </div>
                                <div class="show-mode">
                                    <span> <img src="../../../assets/images/grid.svg" alt=""> </span>
                                    <span> <img src="../../../assets/images/list.svg" alt=""> </span>
                                </div>
                            </div>
                            <div class="products">
                                <div class="product-content">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-6 col-12">
                                            <div class="product-card">
                                                <div class="prod-content">
                                                    <div class="prod-img text-center">
                                                        <a routerLink="/product-details" class="nav-link"> <img src="../../../assets/images/product.png" alt=""> </a>
                                                    </div>
                                                    <div class="prod-title text-center"> <a routerLink="/product-details"> أكيا | البرازيل </a> </div>
                                                    <div class="prod-type text-center"> البروفايل </div>
                                                    <div class="prod-offers">
                                                        <span> خصم 30 ٪ </span>
                                                    </div>
                                                    <div class="prod-bill">
                                                        <span> <i class="fa fa-bell" aria-hidden="true"></i> </span>
                                                    </div>
                                                </div>
                                                <div class="prod-footer">
                                                    <ul class="nav">
                                                        <li class="nav-item pricing">
                                                            <span class="dicount"> 40 رس </span>
                                                            <span class="price"> 28 رس </span>
                                                        </li>
                                                        <li class="nav-item icons-hovers">
                                                            <a href="#" class="nav-link">
                                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                                                <span> مشاهده سريعه </span>
                                                            </a>
                                                        </li>
                                                        <li class="nav-item icons-hovers">
                                                            <a href="#" class="nav-link">
                                                                <i class="fa fa-random" aria-hidden="true"></i>
                                                                <span> مقارنه </span>
                                                            </a>
                                                        </li>
                                                        <li class="nav-item icons-hovers">
                                                            <a href="#" class="nav-link">
                                                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                                                                <span> تفضيل </span>
                                                            </a>
                                                        </li>
                                                        <li class="nav-item icons">
                                                            <a href="#" class="nav-link">
                                                                <i class="fa fa-external-link" aria-hidden="true"></i>
                                                                <span> تفاصيل المنتج </span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6 col-12">
                                            <div class="product-card">
                                                <div class="prod-content">
                                                    <div class="prod-img text-center">
                                                        <a routerLink="/product-details" class="nav-link"> <img src="../../../assets/images/product.png" alt=""> </a>
                                                    </div>
                                                    <div class="prod-title text-center"> <a routerLink="/product-details"> أكيا | البرازيل </a> </div>
                                                    <div class="prod-type text-center"> البروفايل </div>
                                                    <div class="prod-offers">
                                                        <span> خصم 30 ٪ </span>
                                                    </div>
                                                    <div class="prod-bill">
                                                        <span> <i class="fa fa-bell" aria-hidden="true"></i> </span>
                                                    </div>
                                                </div>
                                                <div class="prod-footer">
                                                    <ul class="nav">
                                                        <li class="nav-item pricing">
                                                            <span class="dicount"> 40 رس </span>
                                                            <span class="price"> 28 رس </span>
                                                        </li>
                                                        <li class="nav-item icons-hovers">
                                                            <a href="#" class="nav-link">
                                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                                                <span> مشاهده سريعه </span>
                                                            </a>
                                                        </li>
                                                        <li class="nav-item icons-hovers">
                                                            <a href="#" class="nav-link">
                                                                <i class="fa fa-random" aria-hidden="true"></i>
                                                                <span> مقارنه </span>
                                                            </a>
                                                        </li>
                                                        <li class="nav-item icons-hovers">
                                                            <a href="#" class="nav-link">
                                                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                                                                <span> تفضيل </span>
                                                            </a>
                                                        </li>
                                                        <li class="nav-item icons">
                                                            <a href="#" class="nav-link">
                                                                <i class="fa fa-external-link" aria-hidden="true"></i>
                                                                <span> تفاصيل المنتج </span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6 col-12">
                                            <div class="product-card">
                                                <div class="prod-content">
                                                    <div class="prod-img text-center">
                                                        <a routerLink="/product-details" class="nav-link"> <img src="../../../assets/images/product.png" alt=""> </a>
                                                    </div>
                                                    <div class="prod-title text-center"> <a routerLink="/product-details"> أكيا | البرازيل </a> </div>
                                                    <div class="prod-type text-center"> البروفايل </div>
                                                    <div class="prod-offers">
                                                        <span> خصم 30 ٪ </span>
                                                    </div>
                                                    <div class="prod-bill">
                                                        <span> <i class="fa fa-bell" aria-hidden="true"></i> </span>
                                                    </div>
                                                </div>
                                                <div class="prod-footer">
                                                    <ul class="nav">
                                                        <li class="nav-item pricing">
                                                            <span class="dicount"> 40 رس </span>
                                                            <span class="price"> 28 رس </span>
                                                        </li>
                                                        <li class="nav-item icons-hovers">
                                                            <a href="#" class="nav-link">
                                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                                                <span> مشاهده سريعه </span>
                                                            </a>
                                                        </li>
                                                        <li class="nav-item icons-hovers">
                                                            <a href="#" class="nav-link">
                                                                <i class="fa fa-random" aria-hidden="true"></i>
                                                                <span> مقارنه </span>
                                                            </a>
                                                        </li>
                                                        <li class="nav-item icons-hovers">
                                                            <a href="#" class="nav-link">
                                                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                                                                <span> تفضيل </span>
                                                            </a>
                                                        </li>
                                                        <li class="nav-item icons">
                                                            <a href="#" class="nav-link">
                                                                <i class="fa fa-external-link" aria-hidden="true"></i>
                                                                <span> تفاصيل المنتج </span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6 col-12">
                                            <div class="product-card">
                                                <div class="prod-content">
                                                    <div class="prod-img text-center">
                                                        <a routerLink="/product-details" class="nav-link"> <img src="../../../assets/images/product.png" alt=""> </a>
                                                    </div>
                                                    <div class="prod-title text-center"> <a routerLink="/product-details"> أكيا | البرازيل </a> </div>
                                                    <div class="prod-type text-center"> البروفايل </div>
                                                    <div class="prod-offers">
                                                        <span> خصم 30 ٪ </span>
                                                    </div>
                                                    <div class="prod-bill">
                                                        <span> <i class="fa fa-bell" aria-hidden="true"></i> </span>
                                                    </div>
                                                </div>
                                                <div class="prod-footer">
                                                    <ul class="nav">
                                                        <li class="nav-item pricing">
                                                            <span class="dicount"> 40 رس </span>
                                                            <span class="price"> 28 رس </span>
                                                        </li>
                                                        <li class="nav-item icons-hovers">
                                                            <a href="#" class="nav-link">
                                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                                                <span> مشاهده سريعه </span>
                                                            </a>
                                                        </li>
                                                        <li class="nav-item icons-hovers">
                                                            <a href="#" class="nav-link">
                                                                <i class="fa fa-random" aria-hidden="true"></i>
                                                                <span> مقارنه </span>
                                                            </a>
                                                        </li>
                                                        <li class="nav-item icons-hovers">
                                                            <a href="#" class="nav-link">
                                                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                                                                <span> تفضيل </span>
                                                            </a>
                                                        </li>
                                                        <li class="nav-item icons">
                                                            <a href="#" class="nav-link">
                                                                <i class="fa fa-external-link" aria-hidden="true"></i>
                                                                <span> تفاصيل المنتج </span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6 col-12">
                                            <div class="product-card">
                                                <div class="prod-content">
                                                    <div class="prod-img text-center">
                                                        <a routerLink="/product-details" class="nav-link"> <img src="../../../assets/images/product.png" alt=""> </a>
                                                    </div>
                                                    <div class="prod-title text-center"> <a routerLink="/product-details"> أكيا | البرازيل </a> </div>
                                                    <div class="prod-type text-center"> البروفايل </div>
                                                    <div class="prod-offers">
                                                        <span> خصم 30 ٪ </span>
                                                    </div>
                                                    <div class="prod-bill">
                                                        <span> <i class="fa fa-bell" aria-hidden="true"></i> </span>
                                                    </div>
                                                </div>
                                                <div class="prod-footer">
                                                    <ul class="nav">
                                                        <li class="nav-item pricing">
                                                            <span class="dicount"> 40 رس </span>
                                                            <span class="price"> 28 رس </span>
                                                        </li>
                                                        <li class="nav-item icons-hovers">
                                                            <a href="#" class="nav-link">
                                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                                                <span> مشاهده سريعه </span>
                                                            </a>
                                                        </li>
                                                        <li class="nav-item icons-hovers">
                                                            <a href="#" class="nav-link">
                                                                <i class="fa fa-random" aria-hidden="true"></i>
                                                                <span> مقارنه </span>
                                                            </a>
                                                        </li>
                                                        <li class="nav-item icons-hovers">
                                                            <a href="#" class="nav-link">
                                                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                                                                <span> تفضيل </span>
                                                            </a>
                                                        </li>
                                                        <li class="nav-item icons">
                                                            <a href="#" class="nav-link">
                                                                <i class="fa fa-external-link" aria-hidden="true"></i>
                                                                <span> تفاصيل المنتج </span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6 col-12">
                                            <div class="product-card">
                                                <div class="prod-content">
                                                    <div class="prod-img text-center">
                                                        <a routerLink="/product-details" class="nav-link"> <img src="../../../assets/images/product.png" alt=""> </a>
                                                    </div>
                                                    <div class="prod-title text-center"> <a routerLink="/product-details"> أكيا | البرازيل </a> </div>
                                                    <div class="prod-type text-center"> البروفايل </div>
                                                    <div class="prod-offers">
                                                        <span> خصم 30 ٪ </span>
                                                    </div>
                                                    <div class="prod-bill">
                                                        <span> <i class="fa fa-bell" aria-hidden="true"></i> </span>
                                                    </div>
                                                </div>
                                                <div class="prod-footer">
                                                    <ul class="nav">
                                                        <li class="nav-item pricing">
                                                            <span class="dicount"> 40 رس </span>
                                                            <span class="price"> 28 رس </span>
                                                        </li>
                                                        <li class="nav-item icons-hovers">
                                                            <a href="#" class="nav-link">
                                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                                                <span> مشاهده سريعه </span>
                                                            </a>
                                                        </li>
                                                        <li class="nav-item icons-hovers">
                                                            <a href="#" class="nav-link">
                                                                <i class="fa fa-random" aria-hidden="true"></i>
                                                                <span> مقارنه </span>
                                                            </a>
                                                        </li>
                                                        <li class="nav-item icons-hovers">
                                                            <a href="#" class="nav-link">
                                                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                                                                <span> تفضيل </span>
                                                            </a>
                                                        </li>
                                                        <li class="nav-item icons">
                                                            <a href="#" class="nav-link">
                                                                <i class="fa fa-external-link" aria-hidden="true"></i>
                                                                <span> تفاصيل المنتج </span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-3" role="tabpanel" aria-labelledby="pills-3-tab">...</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
