<div class="wrap-bg">
    <section class="register">
        <nav style="--bs-breadcrumb-divider: '';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">الرئيسية</a></li>
                <li class="breadcrumb-item"> <i class="fa fa-angle-left"></i> </li>
                <li class="breadcrumb-item"><a href="#">حساب جديد</a></li>
                <li class="breadcrumb-item"> <i class="fa fa-angle-left"></i> </li>
                <li class="breadcrumb-item active" aria-current="page">إنشاء حساب جديد </li>
            </ol>
        </nav>

        <div class="user-tab">
            <ul class="nav nav-pills" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="pills-1-tab" data-bs-toggle="pill" data-bs-target="#pills-1" type="button" role="tab" aria-controls="pills-1" aria-selected="true">
                      <span class="icon-user-fill"></span>
                      مستخدم عادي
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-2-tab" data-bs-toggle="pill" data-bs-target="#pills-2" type="button" role="tab" aria-controls="pills-2" aria-selected="false">
                      <span class="icon-coffee-beans-fill"></span>
                      مالك محمصة
                    </button>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-1" role="tabpanel" aria-labelledby="pills-1-tab">
                    <form class="form active">
                        <div class="form-group">
                            <label class="lable"> الاسم بالكامل </label>
                            <input type="text" class="form-control" placeholder="">
                            <img class="icon-right" src="../../../../assets/images/Profile.svg" alt="">
                        </div>
                        <div class="form-group">
                            <label class="lable"> المدينة </label>
                            <select class="form-control">
                              <option>  </option>
                            </select>
                            <img class="icon-right" src="../../../../assets/images/Path113.svg" alt="">
                            <img class="icon-left arrow" src="../../../../assets/images/arrow-bottom.svg" alt="">
                        </div>
                        <div class="form-group">
                            <label class="lable"> رقم الجوال </label>
                            <input type="text" class="form-control" placeholder="">
                            <img class="icon-right" src="../../../../assets/images/Line.svg" alt="">
                        </div>
                        <div class="form-group">
                            <label class="lable"> البريد الالكتروني </label>
                            <input type="email" class="form-control" placeholder="">
                            <img class="icon-right" src="../../../../assets/images/Message.svg" alt="">
                        </div>
                        <div class="form-group">
                            <label class="lable"> كلمة المرور </label>
                            <input type="password" class="form-control" placeholder="">
                            <img class="icon-right" src="../../../../assets/images/lock.svg" alt="">
                        </div>
                        <div class="form-group">
                            <label class="lable"> تأكيد كلمة المرور </label>
                            <input type="password" class="form-control" placeholder="">
                            <img class="icon-right" src="../../../../assets/images/lock.svg" alt="">
                        </div>
                        <div class="form-group">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                  أوافق على <strong> الشروط والأحكام </strong> الخاصة بالمنصة
                                </label>
                            </div>
                        </div>
                        <div class="form-group d-flex justify-content-end">
                            <button type="submit" class="btn btn-success"> التالي </button>
                        </div>
                    </form>
                    <form class="form">
                        <div class="hidden-desktop mb-5 text-center">
                            <img class="mb-3" src="../../../../assets/images/icon-2.svg" alt="">
                            <p class="ftext"> تأكيد رقم الجوال </p>
                        </div>
                        <div class="title text-center"> تم ارسال رمز التأكيد لرقمك في رسالة نصية </div>
                        <div class="row align-items-center">
                            <div class="col-lg-10 col-md-6 col-12">
                                <div class="form-group">
                                    <input type="text" class="form-control">
                                    <img class="icon-right illus" src="../../../../assets/images/illus.svg" alt="">
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-6 col-12">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-success"> تأكيد </button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="form">
                        <div class="hidden-desktop mb-5 text-center">
                            <img class="mb-3" src="../../../../assets/images/icon-3.svg" alt="">
                            <p class="ftext"> اختبار الذائقة </p>
                        </div>
                        <h2 class="ftxt"> ! اذا كنت تتساءل ما مدى أهمية اختبار الذائقة وكيف له أن يساعدنا </h2>
                        <p class="fprh"> اجابتك على اسئلة الاستبيان تجعلنا قادرين على انتقاء منتجات القهوة التى قد تنال اعجابك, وذلك طبقا لخوارزميات تقارن اجاباتك مع خصائص المنتجات التى نحصل عليها من اكثر من 50 محمصة داخل ارض المملكة </p>
                        <button class="btn btn-primary"> اجراء الاختبار </button>
                        <button class="btn btn-transparent"> تخطي </button>
                    </div>
                    <div class="stepper hidden-mobile">
                        <div class="step">
                            <div class="circle active"></div>
                            <div class="main-content">
                                <div class="content active">
                                    <img src="../../../../assets/images/icon-1.svg" class="mb-2" alt="">
                                    <div class="title"> إضافة البيانات </div>
                                    <div class="text"> احرص على إضافة رقم الجوال لتتمكن من التمتع بكامل خدمات المنصة </div>
                                </div>
                            </div>
                        </div>
                        <div class="step">
                            <div class="circle"></div>
                            <div class="main-content">
                                <div class="content">
                                    <img src="../../../../assets/images/icon-2.svg" class="mb-2" alt="">
                                    <div class="title">تأكيد رقم الجوال </div>
                                    <div class="text"> أدخل الرمز المرسل لك في الرسالة النصية لتأكيد رقم جوالك </div>
                                </div>
                            </div>
                        </div>
                        <div class="step">
                            <div class="circle"></div>
                            <div class="main-content thered">
                                <div class="content">
                                    <img src="../../../../assets/images/icon-3.svg" class="mb-2" alt="">
                                    <div class="title"> اختبار الذائقة </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade show" id="pills-2" role="tabpanel" aria-labelledby="pills-2-tab">
                    <form class="form active">
                        <div class="form-group">
                            <label class="lable"> الاسم بالكامل </label>
                            <input type="text" class="form-control" placeholder="">
                            <img class="icon-right" src="../../../../assets/images/Profile.svg" alt="">
                        </div>
                        <div class="form-group">
                            <label class="lable"> المدينة </label>
                            <select class="form-control">
                          <option>  </option>
                        </select>
                            <img class="icon-right" src="../../../../assets/images/Path113.svg" alt="">
                            <img class="icon-left arrow" src="../../../../assets/images/arrow-bottom.svg" alt="">
                        </div>
                        <div class="form-group">
                            <label class="lable"> رقم الجوال </label>
                            <input type="text" class="form-control" placeholder="">
                            <img class="icon-right" src="../../../../assets/images/Line.svg" alt="">
                        </div>
                        <div class="form-group">
                            <label class="lable"> البريد الالكتروني </label>
                            <input type="email" class="form-control" placeholder="">
                            <img class="icon-right" src="../../../../assets/images/Message.svg" alt="">
                        </div>
                        <div class="form-group">
                            <label class="lable"> كلمة المرور </label>
                            <input type="password" class="form-control" placeholder="">
                            <img class="icon-right" src="../../../../assets/images/lock.svg" alt="">
                        </div>
                        <div class="form-group">
                            <label class="lable"> تأكيد كلمة المرور </label>
                            <input type="password" class="form-control" placeholder="">
                            <img class="icon-right" src="../../../../assets/images/lock.svg" alt="">
                        </div>
                        <div class="form-group">
                            <label class="lable"> الوصف </label>
                            <textarea rows="5" type="text" class="form-control" placeholder=""></textarea>
                        </div>
                        <div class="form-group">
                            <label class="lable"> شعار المحمصة </label>
                            <div class="drag-area">
                                <div class="icon text-center">
                                    <img src="../../../../assets/images/icon-upload.svg" alt="">
                                </div>
                                <p> اسحب الصورة هنا أو ابحث</p>
                                <input type="file" class="upload-file">
                            </div>
                        </div>
                        <div class="form-group">
                            <ul class="nav justify-content-between">
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <img src="../../../../assets/images/icon-whatsapp.svg" alt="">
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <img src="../../../../assets/images/icon-insta.svg" alt="">
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <img src="../../../../assets/images/icon-twitter.svg" alt="">
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <img src="../../../../assets/images/icon-snap.svg" alt="">
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <img src="../../../../assets/images/icon-youtube.svg" alt="">
                                    </a>
                                </li>

                            </ul>
                        </div>
                        <div class="form-group d-flex justify-content-end">
                            <button type="submit" class="btn btn-success"> التالي </button>
                        </div>
                    </form>
                    <form class="form">
                        <div class="hidden-desktop mb-5 text-center">
                            <img class="mb-3" src="../../../../assets/images/icon-2.svg" alt="">
                            <p class="ftext"> تأكيد رقم الجوال </p>
                        </div>
                        <div class="title text-center"> تم ارسال رمز التأكيد لرقمك في رسالة نصية </div>
                        <div class="row align-items-center">
                            <div class="col-lg-10 col-md-6 col-12">
                                <div class="form-group">
                                    <input type="text" class="form-control">
                                    <img class="icon-right illus" src="../../../../assets/images/illus.svg" alt="">
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-6 col-12">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-success"> تأكيد </button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="form">
                        <div class="hidden-desktop mb-5 text-center">
                            <img class="mb-3" src="../../../../assets/images/icon-5.svg" alt="">
                            <p class="ftext"> توثيق المحمصة </p>
                        </div>
                        <h2 class="ftxt"> ! اذا كنت تتساءل ما مدى أهمية اختبار الذائقة وكيف له أن يساعدنا </h2>
                        <p class="fprh"> اجابتك على اسئلة الاستبيان تجعلنا قادرين على انتقاء منتجات القهوة التى قد تنال اعجابك, وذلك طبقا لخوارزميات تقارن اجاباتك مع خصائص المنتجات التى نحصل عليها من اكثر من 50 محمصة داخل ارض المملكة </p>
                        <button class="btn btn-primary"> التالي </button>
                    </div>
                    <div class="stepper hidden-mobile">
                        <div class="step">
                            <div class="circle active"></div>
                            <div class="main-content">
                                <div class="content active">
                                    <img src="../../../../assets/images/coffee-shop-dark.svg" class="mb-2" alt="">
                                    <div class="title"> إضافة بيانات المحمصة </div>
                                    <div class="text"> قم بإضافة محمصتك ووثق حسابها الموجود لدينا وعدل البيانات الخاصة بها </div>
                                </div>
                            </div>
                        </div>
                        <div class="step">
                            <div class="circle"></div>
                            <div class="main-content">
                                <div class="content">
                                    <img src="../../../../assets/images/icon-2.svg" class="mb-2" alt="">
                                    <div class="title">تأكيد رقم الجوال </div>
                                    <div class="text"> أدخل الرمز المرسل لك في الرسالة النصية لتأكيد رقم جوالك </div>
                                </div>
                            </div>
                        </div>
                        <div class="step">
                            <div class="circle"></div>
                            <div class="main-content thered">
                                <div class="content">
                                    <img src="../../../../assets/images/icon-3.svg" class="mb-2" alt="">
                                    <div class="title"> اختبار الذائقة </div>
                                </div>
                            </div>
                        </div>
                        <div class="step">
                            <div class="circle"></div>
                            <div class="main-content thered">
                                <div class="content">
                                    <img src="../../../../assets/images/icon-3.svg" class="mb-2" alt="">
                                    <div class="title"> اختبار الذائقة </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
