<div class="content-dashboard">
    <div class="container">
        <div class="search p-0">
            <form class="p-0">
                <div class="form-group">
                    <input type="search" class="form-control" placeholder="بحث حسب الاسم أو المحمصة">
                    <button type="submit" class="btn btn-search"> <img src="../../../assets/images/search-light.svg" alt=""> </button>
                </div>
            </form>
        </div>
        <div class="table">
            <p-table [value]="product" sortMode="multiple" [resizableColumns]="true" columnResizeMode="expand" responsiveLayout="scroll">
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="prod-img"></th>
                        <th pSortableColumn="prod-name">المنتجات
                            <p-sortIcon field="prod-name"></p-sortIcon>
                        </th>
                        <th pSortableColumn="roaster">المحمصة
                            <p-sortIcon field="roaster"></p-sortIcon>
                        </th>
                        <th pSortableColumn="source">السعر
                            <p-sortIcon field="source"></p-sortIcon>
                        </th>
                        <th pSortableColumn="overtones">
                        </th>
                        <th pSortableColumn="processing">
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product>
                    <tr>
                        <td class="text-center"> <img width="50" height="80" src="../../../assets/images/product.png" alt=""> </td>
                        <td>{{product.prodName}}</td>
                        <td>{{product.roaster}}</td>
                        <td>{{product.price | currency: 'رس'}}</td>
                        <td> <button class="btn btn-gray"> تفاصيل المنتج </button> </td>
                        <td>
                            <div class="notifaction"> <img src="../../../../assets/images/notification-light.svg" alt=""> </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
