<div class="hero">
    <video width="100%" height="100%" playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
      <source src="../../../../assets/video/kafi-header-vid.mp4" type="video/mp4">
    </video>
    <div class="search-area">
        <div class="title"> إبدأ بالبحث عن قهوتك ومحامصك المفضلة </div>
        <form>
            <div class="d-flex form-border">
                <div class="form-group">
                    <div class="btn-group" role="group">
                        <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                          <img src="assets/images/coffee-bag.svg" alt="">
                          <span> قهوة </span>
                      </button>
                        <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                            <li><a class="dropdown-item" href="#">Dropdown link</a></li>
                        </ul>
                    </div>
                </div>
                <div class="form-group d-flex">
                    <input type=" search" class="form-control" placeholder="ابحث حسب الاسم أو البلد أو الايحاء ">
                    <button type="submit" class="btn btn-secondary searchBtn"> بحث </button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="wrap-bg">
    <!-- Start The Products More -->
    <section class="products">
        <div class="product-title font-weight-normal text-center"> المنتجات الأكثر </div>
        <div class="product-content">
            <div class="product-tab">
                <ul class="nav nav-pills" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="pills-1-tab" data-bs-toggle="pill" data-bs-target="#pills-1" type="button" role="tab" aria-controls="pills-1" aria-selected="true">مبيعًا</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-2-tab" data-bs-toggle="pill" data-bs-target="#pills-2" type="button" role="tab" aria-controls="pills-2" aria-selected="false">تقييمًا</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-3-tab" data-bs-toggle="pill" data-bs-target="#pills-3" type="button" role="tab" aria-controls="pills-3" aria-selected="false">تتبعًا</button>
                    </li>
                </ul>
                <div class="tab-content" id="pills-tabContent">
                    <div class="container-fluid kaffi-container">
                        <div class="row">
                            <div class="col-12">
                                <div class="tab-pane fade show active" id="pills-1" role="tabpanel" aria-labelledby="pills-1-tab">
                                    <div class="row">
                                        <div class="col-lg-3 col-md-6 col-12">
                                            <div class="product-card">
                                                <div class="prod-content">
                                                    <div class="prod-img text-center">
                                                        <a href="#" class="nav-link"> <img src="../../../assets/images/product.png" alt=""> </a>
                                                    </div>
                                                    <div class="prod-title text-center"> <a href="#"> أكيا | البرازيل </a> </div>
                                                    <div class="prod-type text-center"> البروفايل </div>
                                                    <div class="prod-offers">
                                                        <span> خصم 30 ٪ </span>
                                                    </div>
                                                    <div class="prod-bill">
                                                        <span> <i class="fa fa-bell" aria-hidden="true"></i> </span>
                                                    </div>
                                                </div>
                                                <div class="prod-footer">
                                                    <ul class="nav">
                                                        <li class="nav-item pricing">
                                                            <span class="dicount"> 40 رس </span>
                                                            <span class="price"> 28 رس </span>
                                                        </li>
                                                        <li class="nav-item icons-hovers">
                                                            <a href="#" class="nav-link"> <i class="fa fa-eye" aria-hidden="true"></i> </a>
                                                        </li>
                                                        <li class="nav-item icons-hovers">
                                                            <a href="#" class="nav-link"> <i class="fa fa-random" aria-hidden="true"></i> </a>
                                                        </li>
                                                        <li class="nav-item icons-hovers">
                                                            <a href="#" class="nav-link"> <i class="fa fa-heart-o" aria-hidden="true"></i> </a>
                                                        </li>
                                                        <li class="nav-item icons">
                                                            <a href="#" class="nav-link"> <i class="fa fa-external-link" aria-hidden="true"></i> </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-6 col-12">
                                            <div class="product-card">
                                                <div class="prod-content">
                                                    <div class="prod-img text-center">
                                                        <a href="#" class="nav-link"> <img src="../../../assets/images/product.png" alt=""> </a>
                                                    </div>
                                                    <div class="prod-title text-center"> <a href="#"> أكيا | البرازيل </a> </div>
                                                    <div class="prod-type text-center"> البروفايل </div>
                                                    <div class="prod-offers">
                                                        <span> خصم 30 ٪ </span>
                                                    </div>
                                                    <div class="prod-bill">
                                                        <span> <i class="fa fa-bell" aria-hidden="true"></i> </span>
                                                    </div>
                                                </div>
                                                <div class="prod-footer">
                                                    <ul class="nav">
                                                        <li class="nav-item pricing">
                                                            <span class="dicount"> 40 رس </span>
                                                            <span class="price"> 28 رس </span>
                                                        </li>
                                                        <li class="nav-item icons-hovers">
                                                            <a href="#" class="nav-link"> <i class="fa fa-eye" aria-hidden="true"></i> </a>
                                                        </li>
                                                        <li class="nav-item icons-hovers">
                                                            <a href="#" class="nav-link"> <i class="fa fa-random" aria-hidden="true"></i> </a>
                                                        </li>
                                                        <li class="nav-item icons-hovers">
                                                            <a href="#" class="nav-link"> <i class="fa fa-heart-o" aria-hidden="true"></i> </a>
                                                        </li>
                                                        <li class="nav-item icons">
                                                            <a href="#" class="nav-link"> <i class="fa fa-external-link" aria-hidden="true"></i> </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-6 col-12">
                                            <div class="product-card">
                                                <div class="prod-content">
                                                    <div class="prod-img text-center">
                                                        <a href="#" class="nav-link"> <img src="../../../assets/images/product.png" alt=""> </a>
                                                    </div>
                                                    <div class="prod-title text-center"> <a href="#"> أكيا | البرازيل </a> </div>
                                                    <div class="prod-type text-center"> البروفايل </div>
                                                    <div class="prod-offers">
                                                        <span> خصم 30 ٪ </span>
                                                    </div>
                                                    <div class="prod-bill">
                                                        <span> <i class="fa fa-bell" aria-hidden="true"></i> </span>
                                                    </div>
                                                </div>
                                                <div class="prod-footer">
                                                    <ul class="nav">
                                                        <li class="nav-item pricing">
                                                            <span class="dicount"> 40 رس </span>
                                                            <span class="price"> 28 رس </span>
                                                        </li>
                                                        <li class="nav-item icons-hovers">
                                                            <a href="#" class="nav-link"> <i class="fa fa-eye" aria-hidden="true"></i> </a>
                                                        </li>
                                                        <li class="nav-item icons-hovers">
                                                            <a href="#" class="nav-link"> <i class="fa fa-random" aria-hidden="true"></i> </a>
                                                        </li>
                                                        <li class="nav-item icons-hovers">
                                                            <a href="#" class="nav-link"> <i class="fa fa-heart-o" aria-hidden="true"></i> </a>
                                                        </li>
                                                        <li class="nav-item icons">
                                                            <a href="#" class="nav-link"> <i class="fa fa-external-link" aria-hidden="true"></i> </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-6 col-12">
                                            <div class="product-card">
                                                <div class="prod-content">
                                                    <div class="prod-img text-center">
                                                        <a href="#" class="nav-link"> <img src="../../../assets/images/product.png" alt=""> </a>
                                                    </div>
                                                    <div class="prod-title text-center"> <a href="#"> أكيا | البرازيل </a> </div>
                                                    <div class="prod-type text-center"> البروفايل </div>
                                                    <div class="prod-offers">
                                                        <span> خصم 30 ٪ </span>
                                                    </div>
                                                    <div class="prod-bill">
                                                        <span> <i class="fa fa-bell" aria-hidden="true"></i> </span>
                                                    </div>
                                                </div>
                                                <div class="prod-footer">
                                                    <ul class="nav">
                                                        <li class="nav-item pricing">
                                                            <span class="dicount"> 40 رس </span>
                                                            <span class="price"> 28 رس </span>
                                                        </li>
                                                        <li class="nav-item icons-hovers">
                                                            <a href="#" class="nav-link"> <i class="fa fa-eye" aria-hidden="true"></i> </a>
                                                        </li>
                                                        <li class="nav-item icons-hovers">
                                                            <a href="#" class="nav-link"> <i class="fa fa-random" aria-hidden="true"></i> </a>
                                                        </li>
                                                        <li class="nav-item icons-hovers">
                                                            <a href="#" class="nav-link"> <i class="fa fa-heart-o" aria-hidden="true"></i> </a>
                                                        </li>
                                                        <li class="nav-item icons">
                                                            <a href="#" class="nav-link"> <i class="fa fa-external-link" aria-hidden="true"></i> </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="pills-2" role="tabpanel" aria-labelledby="pills-2-tab">...</div>
                                <div class="tab-pane fade" id="pills-3" role="tabpanel" aria-labelledby="pills-3-tab">...</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Start The Latest Offers -->
    <section class="products">
        <div class="container-fluid kaffi-container">
            <div class="product-title font-weight-bold mb-5 d-flex justify-content-between align-items-center">
                <span class="d-block font-weight-bold"> أحدث العروض </span>
                <span class="d-block"> <a href="#" class="show-all"> عرض الكل </a> </span>
            </div>
            <div class="product-content">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-12">
                        <div class="product-card">
                            <div class="prod-content">
                                <div class="prod-img text-center">
                                    <a href="#" class="nav-link"> <img src="../../../assets/images/product.png" alt=""> </a>
                                </div>
                                <div class="prod-title text-center"> <a href="#"> أكيا | البرازيل </a> </div>
                                <div class="prod-type text-center"> البروفايل </div>
                                <div class="prod-offers">
                                    <span> خصم 30 ٪ </span>
                                </div>
                                <div class="prod-bill">
                                    <span> <i class="fa fa-bell" aria-hidden="true"></i> </span>
                                </div>
                            </div>
                            <div class="prod-footer">
                                <ul class="nav">
                                    <li class="nav-item pricing">
                                        <span class="dicount"> 40 رس </span>
                                        <span class="price"> 28 رس </span>
                                    </li>
                                    <li class="nav-item icons-hovers">
                                        <a href="#" class="nav-link"> <i class="fa fa-eye" aria-hidden="true"></i> </a>
                                    </li>
                                    <li class="nav-item icons-hovers">
                                        <a href="#" class="nav-link"> <i class="fa fa-random" aria-hidden="true"></i> </a>
                                    </li>
                                    <li class="nav-item icons-hovers">
                                        <a href="#" class="nav-link"> <i class="fa fa-heart-o" aria-hidden="true"></i> </a>
                                    </li>
                                    <li class="nav-item icons">
                                        <a href="#" class="nav-link"> <i class="fa fa-external-link" aria-hidden="true"></i> </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <div class="product-card">
                            <div class="prod-content">
                                <div class="prod-img text-center">
                                    <a href="#" class="nav-link"> <img src="../../../assets/images/product.png" alt=""> </a>
                                </div>
                                <div class="prod-title text-center"> <a href="#"> أكيا | البرازيل </a> </div>
                                <div class="prod-type text-center"> البروفايل </div>
                                <div class="prod-offers">
                                    <span> خصم 30 ٪ </span>
                                </div>
                                <div class="prod-bill">
                                    <span> <i class="fa fa-bell" aria-hidden="true"></i> </span>
                                </div>
                            </div>
                            <div class="prod-footer">
                                <ul class="nav">
                                    <li class="nav-item pricing">
                                        <span class="dicount"> 40 رس </span>
                                        <span class="price"> 28 رس </span>
                                    </li>
                                    <li class="nav-item icons-hovers">
                                        <a href="#" class="nav-link"> <i class="fa fa-eye" aria-hidden="true"></i> </a>
                                    </li>
                                    <li class="nav-item icons-hovers">
                                        <a href="#" class="nav-link"> <i class="fa fa-random" aria-hidden="true"></i> </a>
                                    </li>
                                    <li class="nav-item icons-hovers">
                                        <a href="#" class="nav-link"> <i class="fa fa-heart-o" aria-hidden="true"></i> </a>
                                    </li>
                                    <li class="nav-item icons">
                                        <a href="#" class="nav-link"> <i class="fa fa-external-link" aria-hidden="true"></i> </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <div class="product-card">
                            <div class="prod-content">
                                <div class="prod-img text-center">
                                    <a href="#" class="nav-link"> <img src="../../../assets/images/product.png" alt=""> </a>
                                </div>
                                <div class="prod-title text-center"> <a href="#"> أكيا | البرازيل </a> </div>
                                <div class="prod-type text-center"> البروفايل </div>
                                <div class="prod-offers">
                                    <span> خصم 30 ٪ </span>
                                </div>
                                <div class="prod-bill">
                                    <span> <i class="fa fa-bell" aria-hidden="true"></i> </span>
                                </div>
                            </div>
                            <div class="prod-footer">
                                <ul class="nav">
                                    <li class="nav-item pricing">
                                        <span class="dicount"> 40 رس </span>
                                        <span class="price"> 28 رس </span>
                                    </li>
                                    <li class="nav-item icons-hovers">
                                        <a href="#" class="nav-link"> <i class="fa fa-eye" aria-hidden="true"></i> </a>
                                    </li>
                                    <li class="nav-item icons-hovers">
                                        <a href="#" class="nav-link"> <i class="fa fa-random" aria-hidden="true"></i> </a>
                                    </li>
                                    <li class="nav-item icons-hovers">
                                        <a href="#" class="nav-link"> <i class="fa fa-heart-o" aria-hidden="true"></i> </a>
                                    </li>
                                    <li class="nav-item icons">
                                        <a href="#" class="nav-link"> <i class="fa fa-external-link" aria-hidden="true"></i> </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <div class="product-card">
                            <div class="prod-content">
                                <div class="prod-img text-center">
                                    <a href="#" class="nav-link"> <img src="../../../assets/images/product.png" alt=""> </a>
                                </div>
                                <div class="prod-title text-center"> <a href="#"> أكيا | البرازيل </a> </div>
                                <div class="prod-type text-center"> البروفايل </div>
                                <div class="prod-offers">
                                    <span> خصم 30 ٪ </span>
                                </div>
                                <div class="prod-bill">
                                    <span> <i class="fa fa-bell" aria-hidden="true"></i> </span>
                                </div>
                            </div>
                            <div class="prod-footer">
                                <ul class="nav">
                                    <li class="nav-item pricing">
                                        <span class="dicount"> 40 رس </span>
                                        <span class="price"> 28 رس </span>
                                    </li>
                                    <li class="nav-item icons-hovers">
                                        <a href="#" class="nav-link"> <i class="fa fa-eye" aria-hidden="true"></i> </a>
                                    </li>
                                    <li class="nav-item icons-hovers">
                                        <a href="#" class="nav-link"> <i class="fa fa-random" aria-hidden="true"></i> </a>
                                    </li>
                                    <li class="nav-item icons-hovers">
                                        <a href="#" class="nav-link"> <i class="fa fa-heart-o" aria-hidden="true"></i> </a>
                                    </li>
                                    <li class="nav-item icons">
                                        <a href="#" class="nav-link"> <i class="fa fa-external-link" aria-hidden="true"></i> </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Start News Email -->
    <section class="kaffi-news text-center">
        <div class="container-fluid kaffi-container">
            <div class="title"> اشترك في نشرتنا البريدية </div>
            <form class="subscribe-form">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="البريد الالكتروني">
                    <button type="submit" class="btn btn-secondary"> إشتراك </button>
                </div>
            </form>
        </div>
    </section>
    <!-- Start Toasters -->
    <section class="toasters">
        <div class="container-fluid kaffi-container">
            <div class="product-title font-weight-bold mb-5 d-flex justify-content-between align-items-center">
                <span class="d-block font-weight-bold"> أحدث العروض </span>
                <span class="d-block"> <a href="#" class="show-all"> عرض الكل </a> </span>
            </div>
            <div class="row">
                <div class="col-12">
                    <owl-carousel-o [options]="Slide_1" class="slide-1">
                        <ng-template carouselSlide>
                            <div class="images"><img class="w-100" src="../../../assets/images/toasters//logo-1.png" alt=""></div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="images"><img class="w-100" src="../../../assets/images/toasters//logo-2.png" alt=""></div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="images"><img class="w-100" src="../../../assets/images/toasters//logo-3.png" alt=""></div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="images"><img class="w-100" src="../../../assets/images/toasters//logo-4.png" alt=""></div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="images"><img class="w-100" src="../../../assets/images/toasters//logo-5.png" alt=""></div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="images"><img class="w-100" src="../../../assets/images/toasters//logo-6.png" alt=""></div>
                        </ng-template>
                    </owl-carousel-o>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <owl-carousel-o [options]="Slide_2" class="slide-1">
                        <ng-template carouselSlide>
                            <div class="images"><img class="w-100" src="../../../assets/images/toasters//logo-7.png" alt=""></div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="images"><img class="w-100" src="../../../assets/images/toasters//logo-8.png" alt=""></div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="images"><img class="w-100" src="../../../assets/images/toasters//logo-9.png" alt=""></div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="images"><img class="w-100" src="../../../assets/images/toasters//logo-10.png" alt=""></div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="images"><img class="w-100" src="../../../assets/images/toasters//logo-11.png" alt=""></div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="images"><img class="w-100" src="../../../assets/images/toasters//logo-12.png" alt=""></div>
                        </ng-template>
                    </owl-carousel-o>
                </div>
            </div>

        </div>
    </section>
    <!-- Start Kaffi Platform -->
    <section class="kaffi-platform">
        <div class="container-fluid kaffi-container">
            <div class="title text-center"> منصة كافي تضم أكثر من </div>
            <div class="d-flex justify-content-center">
                <div class="grid-box">
                    <div class="box-item">
                        <div class="nummber"> 5000 </div>
                        <div class="text"> متذوق قهوة </div>
                        <img src="../../../assets/images/users-bg-draw.svg" alt="">
                    </div>
                    <div class="box-item">
                        <div class="nummber"> 100 </div>
                        <div class="text"> محمصة </div>
                        <img src="../../../assets/images/roasters-bg-draw.svg" alt="">
                    </div>
                    <div class="box-item">
                        <div class="nummber"> 300 </div>
                        <div class="text"> باريستا </div>
                        <img src="../../../assets/images/barista-bg-draw.svg" alt="">
                    </div>
                    <div class="box-item">
                        <div class="nummber"> 70 </div>
                        <div class="text"> مورد بُن أخضر </div>
                        <img src="../../../assets/images/Group23.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
