<div class="coffe-map">
    <div class="coffe-map-bg-dark">
        <nav style="--bs-breadcrumb-divider: '';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">الرئيسية</a></li>
                <li class="breadcrumb-item"> <i class="fa fa-angle-left"></i> </li>
                <li class="breadcrumb-item active" aria-current="page"> مصادر القهوة </li>
            </ol>
        </nav>
        <div id="chartdiv"></div>
    </div>
    <div class="coffe-map-information">
        <div class="coffee-grid">
            <div class="coffee-item">
                <div class="coffee-head"> المدينة </div>
                <div class="coffee-list">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <img src="../../../assets/images/pin-light.svg" alt=""> الدمام
                        </li>
                        <li class="nav-item">
                            <img src="../../../assets/images/pin-light.svg" alt=""> الدمام
                        </li>
                        <li class="nav-item">
                            <img src="../../../assets/images/pin-light.svg" alt=""> الدمام
                        </li>
                        <li class="nav-item">
                            <img src="../../../assets/images/pin-light.svg" alt=""> الدمام
                        </li>
                        <li class="nav-item">
                            <img src="../../../assets/images/pin-light.svg" alt=""> الدمام
                        </li>
                        <li class="nav-item">
                            <img src="../../../assets/images/pin-light.svg" alt=""> الدمام
                        </li>
                        <li class="nav-item">
                            <img src="../../../assets/images/pin-light.svg" alt=""> الدمام
                        </li>
                        <li class="nav-item">
                            <img src="../../../assets/images/pin-light.svg" alt=""> الدمام
                        </li>
                    </ul>
                </div>
            </div>
            <div class="coffee-item">
                <div class="coffee-head"> المحامص </div>
                <div class="coffee-list">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <img src="../../../assets/images/coffee.svg" alt=""> الدمام
                        </li>
                        <li class="nav-item">
                            <img src="../../../assets/images/coffee.svg" alt=""> الدمام
                        </li>
                        <li class="nav-item">
                            <img src="../../../assets/images/coffee.svg" alt=""> الدمام
                        </li>
                        <li class="nav-item">
                            <img src="../../../assets/images/coffee.svg" alt=""> الدمام
                        </li>
                        <li class="nav-item">
                            <img src="../../../assets/images/coffee.svg" alt=""> الدمام
                        </li>
                        <li class="nav-item">
                            <img src="../../../assets/images/coffee.svg" alt=""> الدمام
                        </li>
                        <li class="nav-item">
                            <img src="../../../assets/images/coffee.svg" alt=""> الدمام
                        </li>
                        <li class="nav-item">
                            <img src="../../../assets/images/coffee.svg" alt=""> الدمام
                        </li>
                        <li class="nav-item">
                            <img src="../../../assets/images/coffee.svg" alt=""> الدمام
                        </li>
                        <li class="nav-item">
                            <img src="../../../assets/images/coffee.svg" alt=""> الدمام
                        </li>
                    </ul>
                </div>
            </div>

            <div class="coffee-item">
                <div class="coffee-head"> منتجات عمق من <span class="text-green"> أثيوبيا </span> </div>
                <div class="coffee-list">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <img src="../../../assets/images/03-Coffee.svg" alt=""> الدمام
                        </li>
                        <li class="nav-item">
                            <img src="../../../assets/images/03-Coffee.svg" alt=""> الدمام
                        </li>
                        <li class="nav-item">
                            <img src="../../../assets/images/03-Coffee.svg" alt=""> الدمام
                        </li>
                        <li class="nav-item">
                            <img src="../../../assets/images/03-Coffee.svg" alt=""> الدمام
                        </li>
                        <li class="nav-item">
                            <img src="../../../assets/images/03-Coffee.svg" alt=""> الدمام
                        </li>
                        <li class="nav-item">
                            <img src="../../../assets/images/03-Coffee.svg" alt=""> الدمام
                        </li>
                        <li class="nav-item">
                            <img src="../../../assets/images/03-Coffee.svg" alt=""> الدمام
                        </li>
                        <li class="nav-item">
                            <img src="../../../assets/images/03-Coffee.svg" alt=""> الدمام
                        </li>
                        <li class="nav-item">
                            <img src="../../../assets/images/03-Coffee.svg" alt=""> الدمام
                        </li>
                        <li class="nav-item">
                            <img src="../../../assets/images/03-Coffee.svg" alt=""> الدمام
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>