<div class="wrap-bg">
    <section class="compare">
        <nav style="--bs-breadcrumb-divider: '';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">الرئيسية</a></li>
                <li class="breadcrumb-item"> <i class="fa fa-angle-left"></i> </li>
                <li class="breadcrumb-item active" aria-current="page"> مقارنة المنتجات </li>
            </ol>
        </nav>
        <div class="container-fluid kaffi-container">
            <div class="fixed-width-in-mobile">
                <div class="comapre-grid">
                    <div class="compare-item">
                        <div class="image"> </div>
                    </div>
                    <div class="compare-item">
                        <div class="image"> <img src="../../../assets/images/product.png" alt=""> </div>
                    </div>
                    <div class="compare-item">
                        <div class="image"> <img src="../../../assets/images/product.png" alt=""> </div>
                    </div>
                    <div class="compare-item">
                        <div class="image"> <img src="../../../assets/images/product.png" alt=""> </div>
                    </div>
                </div>

                <div class="comapre-grid">
                    <div class="compare-item">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <img src="../../../assets/images/type-icon.svg" alt=""> <span> السلالة </span>
                            </li>
                            <li class="nav-item">
                                <img src="../../../assets/images/location.svg" alt=""> <span> البلد </span>
                            </li>
                            <li class="nav-item">
                                <img src="../../../assets/images/insp-icon.svg" alt=""> <span> الايحاءات </span>
                            </li>
                            <li class="nav-item">
                                <img src="../../../assets/images/high-icon.svg" alt=""> <span> الارتفاع </span>
                            </li>
                            <li class="nav-item">
                                <img src="../../../assets/images/processing-icon.svg" alt=""> <span> المعالجة </span>
                            </li>
                            <li class="nav-item">
                                <img src="../../../assets/images/wight-icon.svg" alt=""> <span> الوزن </span>
                            </li>
                            <li class="nav-item">
                                <img src="../../../assets/images/price-icon.svg" alt=""> <span> السعر </span>
                            </li>
                            <li class="nav-item">
                                <img src="../../../assets/images/coffee-beans.svg" alt=""> <span> المحمصة </span>
                            </li>
                        </ul>
                    </div>
                    <div class="compare-item">
                        <ul class="nav type flex-column">
                            <li class="nav-item"> أكيا </li>
                            <li class="nav-item"> البرازيل </li>
                            <li class="nav-item"> شوكولاته البندق </li>
                            <li class="nav-item"> 890 - 1050 M </li>
                            <li class="nav-item"> طبيعية </li>
                            <li class="nav-item"> 250g </li>
                            <li class="nav-item"> 28 </li>
                            <li class="nav-item"> البروفايل </li>
                        </ul>
                    </div>
                    <div class="compare-item">
                        <ul class="nav type flex-column">
                            <li class="nav-item"> أكيا </li>
                            <li class="nav-item"> البرازيل </li>
                            <li class="nav-item"> شوكولاته البندق </li>
                            <li class="nav-item"> 890 - 1050 M </li>
                            <li class="nav-item"> طبيعية </li>
                            <li class="nav-item"> 250g </li>
                            <li class="nav-item"> 28 </li>
                            <li class="nav-item"> البروفايل </li>
                        </ul>
                    </div>
                    <div class="compare-item">
                        <ul class="nav type flex-column">
                            <li class="nav-item"> أكيا </li>
                            <li class="nav-item"> البرازيل </li>
                            <li class="nav-item"> شوكولاته البندق </li>
                            <li class="nav-item"> 890 - 1050 M </li>
                            <li class="nav-item"> طبيعية </li>
                            <li class="nav-item"> 250g </li>
                            <li class="nav-item"> 28 </li>
                            <li class="nav-item"> البروفايل </li>
                        </ul>
                    </div>
                </div>

                <div class="comapre-grid">
                    <div class="compare-item">

                    </div>
                    <div class="compare-item">
                        <div class="compare-btn">
                            <button type="button" class="btn btn-secondary"> تفاصيل المنتج </button>
                            <button type="button" class="btn btn-outline-danger">حذف المنتج </button>
                        </div>
                    </div>
                    <div class="compare-item">
                        <div class="compare-btn">
                            <button type="button" class="btn btn-secondary"> تفاصيل المنتج </button>
                            <button type="button" class="btn btn-outline-danger">حذف المنتج </button>
                        </div>
                    </div>
                    <div class="compare-item">
                        <div class="compare-btn">
                            <button type="button" class="btn btn-secondary"> تفاصيل المنتج </button>
                            <button type="button" class="btn btn-outline-danger">حذف المنتج </button>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </section>
</div>
