<div class="content-dashboard">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-6 col-12">
                <div class="card">
                    <div class="title"> المستخدمين </div>
                    <div class="content">
                        <div class="male">
                            <div class="progress-info">
                                <div class="total-numbric">
                                    <!-- <img src="../../../../assets/images/male.svg" alt=""> -->
                                    <b> 3,315 </b>
                                </div>
                                <div class="total-percintge">
                                    65 %
                                    <span> ذكور </span>
                                </div>
                            </div>
                            <p-progressBar [value]="value1"></p-progressBar>
                        </div>
                        <div class="femail">
                            <div class="progress-info">
                                <div class="total-numbric">
                                    <!-- <img src="../../../../assets/images/male.svg" alt=""> -->
                                    <b> 3,315 </b>
                                </div>
                                <div class="total-percintge">
                                    65 %
                                    <span> إناث </span>
                                </div>
                            </div>
                            <p-progressBar [value]="value2"></p-progressBar>
                        </div>
                        <div class="card-bottom">
                            <img src="../../../../assets/images/people-icon.svg" alt="">
                            <span> عدد المستخدمين الكلي 4,670</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-6 col-12">
                <div class="card">
                    <div class="title pb-0"> الفئات العمرية </div>
                    <div class="content pt-0">
                        <p-chart type="doughnut" [responsive]="true" [data]="data" [style]="{'width': '10%'}" height="170"></p-chart>
                        <ul class="nav justify-content-between mt-3">
                            <li class="nav-item">
                                <span class="color green"></span>
                                <span class="number"> 15 - 20 </span>
                            </li>
                            <li class="nav-item">
                                <span class="color green"></span>
                                <span class="number"> 15 - 20 </span>
                            </li>
                            <li class="nav-item">
                                <span class="color green"></span>
                                <span class="number"> 15 - 20 </span>
                            </li>
                            <li class="nav-item">
                                <span class="color green"></span>
                                <span class="number"> 15 - 20 </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12">
                <div class="card">
                    <div class="title mt-5 text-center"> يفضلون التحدي </div>
                    <div class="content">
                        <div class="row mt-4 justify-content-center align-items-center text-center">
                            <div class="col-lg-4 col-md-12 col-12">
                                <div class="knob">
                                    <p-knob [(ngModel)]="value3" [readonly]="true"></p-knob>
                                    <p class="challenge"> نعم </p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-12 col-12">
                                <div class="knob">
                                    <p-knob [(ngModel)]="value3" [readonly]="true"></p-knob>
                                    <p class="challenge"> لا </p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-12 col-12">
                                <div class="knob">
                                    <p-knob [(ngModel)]="value3" [readonly]="true"></p-knob>
                                    <p class="challenge"> أحيانا </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
