<div class="content-dashboard">
    <div class="container">
        <div class="list-group">
            <div class="list">
                <div class="text">
                    <div class="title"> الخطة الحالية </div>
                    <p> أنت مشترك حاليًا في الخطة المجانية بتكلفة 0 ريال شهريًا </p>
                </div>
                <div class="plans">
                    <button type="button" class="btn btn-success"> ترقية خطة الدفع </button>
                </div>
            </div>
            <div class="list">
                <div class="text">
                    <div class="title"> وسيلة الدفع </div>
                    <p> مراجعة وسائل وسجل عمليات الدفع </p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="other-title text-center"> المزايا التي ستحصل عليها عند الاشتراك </div>
            <div class="content pb-5">
                <div class="row justify-content-center">
                    <div class="col-lg-3 col-md-6 col-12">
                        <div class="block text-center">
                            <img src="../../../../assets/images/users-statistics.svg" alt="">
                            <div class="tit"> إحصائيات المحامص </div>
                            <div class="text"> احصل على إحصائيات أكثر من 50 محمصة حول المملكة </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <div class="block text-center">
                            <img src="../../../../assets/images/users-statistics-icon.svg" alt="">
                            <div class="tit"> إحصائيات الأفراد </div>
                            <div class="text"> احصل على إحصائيات محبي القهوة المختصة وتفضيلاتهم </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <div class="block text-center">
                            <img src="../../../../assets/images/campaign.svg" alt="">
                            <div class="tit"> الحملات الاعلانية </div>
                            <div class="text"> قم بإنشاء الحملات الاعلانية واستهدف جمهور أكبر </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <div class="block text-center">
                            <img src="../../../../assets/images/priceing.svg" alt="">
                            <div class="tit"> مساعد التسعير </div>
                            <div class="text"> سعر منتجاتك الجديدة وتعرف على تسعيرات المنافسين</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pricing">
            <div class="price-list">
                <div class="title"> الاحترافية </div>
                <div class="price">
                    <span class="number"> ٧٥  </span>
                    <span> <img src="../../../../assets/images/sar.svg" alt=""> </span>
                    <span class="month"> / شهر </span>
                </div>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <i class="fa fa-check"></i> إنشاء حساب محمصة موثق
                    </li>
                    <li class="nav-item">
                        <i class="fa fa-check"></i> استخدام جميع خدمات المنصة لمدة 6 أشهر
                    </li>
                </ul>
                <div class="subscribe">
                    <button class="btn btn-primary"> اشتراك </button>
                </div>
            </div>
            <div class="price-list">
                <div class="most-populr">
                    <span> الأكثر تفضيلا </span>
                </div>
                <div class="title"> الأساسية </div>
                <div class="price">
                    <span class="number"> ۹۹ </span>
                    <span> <img src="../../../../assets/images/sar.svg" alt=""> </span>
                    <span class="month"> / شهر </span>
                </div>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <i class="fa fa-check"></i> إنشاء حساب محمصة موثق
                    </li>
                    <li class="nav-item">
                        <i class="fa fa-check"></i> استخدام جميع خدمات المنصة لمدة 6 أشهر
                    </li>
                </ul>
                <div class="subscribe">
                    <button class="btn btn-primary"> اشتراك </button>
                </div>
            </div>
            <div class="price-list">
                <div class="title"> المجانية </div>
                <div class="price">
                    <span class="number"> ۰ </span>
                    <span> <img src="../../../../assets/images/sar.svg" alt=""> </span>
                    <span class="month"> / شهر </span>
                </div>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <i class="fa fa-check"></i> إنشاء حساب محمصة موثق
                    </li>
                </ul>
                <div class="subscribe">
                    <button class="btn btn-primary active"> مشترك </button>
                </div>
            </div>
        </div>
    </div>
</div>
