<div class="wrap-bg">
    <section class="roasters">
        <nav style="--bs-breadcrumb-divider: '';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">الرئيسية</a></li>
                <li class="breadcrumb-item"> <i class="fa fa-angle-left"></i> </li>
                <li class="breadcrumb-item active" aria-current="page"> المحامص </li>
            </ol>
        </nav>
        <div class="container-fluid kaffi-container">
            <div class="alert alert-secondary d-flex justify-content-between align-items-center" role="alert">
                <img src="../../../assets/images/alert-icon.svg" alt="">
                <span>   أصحاب المحامص المسجلين في المنصة وحدهم تم توثيق محامصهم  وتمتلك حساب خاص بها </span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <div class="search w-25 m-auto">
                <form>
                    <div class="form-group">
                        <input type="search" class="form-control" placeholder="ابحث عن محمصة">
                        <img src="../../../assets/images/search-gray.svg" alt="">
                    </div>
                </form>
            </div>
            <div class="product-filter d-flex justify-content-between align-items-center">
                <div class="filterByPrice">
                    <form>
                        <div class="form-group">
                            <label class="lable"> ترتيب حسب </label>
                            <select class="select-transparent">
                          <option> السعر </option>
                          <option> السعر </option>
                          <option> السعر </option>
                        </select>
                        </div>
                    </form>
                </div>
                <div class="show-mode">
                    <span> <img src="../../../assets/images/grid.svg" alt=""> </span>
                    <span> <img src="../../../assets/images/list.svg" alt=""> </span>
                </div>
            </div>
            <div class="roasters-grid">
                <div class="roasters-item" routerLink="/roasters-profile">
                    <div class="image">
                        <img src="../../../assets/images/toasters/logo-1.png" alt="">
                    </div>
                    <div class="verification">
                        <img src="../../../assets/images/v-icon.svg" alt="">
                    </div>
                    <div class="title"> محمصة إكسير البن </div>
                    <ul class="nav">
                        <li>
                            المنتجات
                            <p> 25 </p>
                        </li>
                        <li>
                            المنتجات
                            <p> 25 </p>
                        </li>
                    </ul>
                </div>
                <div class="roasters-item">
                    <div class="image">
                        <img src="../../../assets/images/toasters/logo-2.png" alt="">
                    </div>
                    <div class="verification">
                        <img src="../../../assets/images/v-icon.svg" alt="">
                    </div>
                    <div class="title"> محمصة إكسير البن </div>
                    <ul class="nav">
                        <li>
                            المنتجات
                            <p> 25 </p>
                        </li>
                        <li>
                            المنتجات
                            <p> 25 </p>
                        </li>
                    </ul>
                </div>
                <div class="roasters-item">
                    <div class="image">
                        <img src="../../../assets/images/toasters/logo-3.png" alt="">
                    </div>
                    <div class="verification">
                        <img src="../../../assets/images/v-icon.svg" alt="">
                    </div>
                    <div class="title"> محمصة إكسير البن </div>
                    <ul class="nav">
                        <li>
                            المنتجات
                            <p> 25 </p>
                        </li>
                        <li>
                            المنتجات
                            <p> 25 </p>
                        </li>
                    </ul>
                </div>
                <div class="roasters-item">
                    <div class="image">
                        <img src="../../../assets/images/toasters/logo-4.png" alt="">
                    </div>
                    <div class="verification">
                        <img src="../../../assets/images/v-icon.svg" alt="">
                    </div>
                    <div class="title"> محمصة إكسير البن </div>
                    <ul class="nav">
                        <li>
                            المنتجات
                            <p> 25 </p>
                        </li>
                        <li>
                            المنتجات
                            <p> 25 </p>
                        </li>
                    </ul>
                </div>
                <div class="roasters-item">
                    <div class="image">
                        <img src="../../../assets/images/toasters/logo-5.png" alt="">
                    </div>
                    <div class="verification">
                        <img src="../../../assets/images/v-icon.svg" alt="">
                    </div>
                    <div class="title"> محمصة إكسير البن </div>
                    <ul class="nav">
                        <li>
                            المنتجات
                            <p> 25 </p>
                        </li>
                        <li>
                            المنتجات
                            <p> 25 </p>
                        </li>
                    </ul>
                </div>
                <div class="roasters-item">
                    <div class="image">
                        <img src="../../../assets/images/toasters/logo-6.png" alt="">
                    </div>
                    <div class="verification">
                        <img src="../../../assets/images/v-icon.svg" alt="">
                    </div>
                    <div class="title"> محمصة إكسير البن </div>
                    <ul class="nav">
                        <li>
                            المنتجات
                            <p> 25 </p>
                        </li>
                        <li>
                            المنتجات
                            <p> 25 </p>
                        </li>
                    </ul>
                </div>
                <div class="roasters-item">
                    <div class="image">
                        <img src="../../../assets/images/toasters/logo-4.png" alt="">
                    </div>
                    <div class="verification">
                        <img src="../../../assets/images/v-icon.svg" alt="">
                    </div>
                    <div class="title"> محمصة إكسير البن </div>
                    <ul class="nav">
                        <li>
                            المنتجات
                            <p> 25 </p>
                        </li>
                        <li>
                            المنتجات
                            <p> 25 </p>
                        </li>
                    </ul>
                </div>
                <div class="roasters-item">
                    <div class="image">
                        <img src="../../../assets/images/toasters/logo-7.png" alt="">
                    </div>
                    <div class="verification">
                        <img src="../../../assets/images/v-icon.svg" alt="">
                    </div>
                    <div class="title"> محمصة إكسير البن </div>
                    <ul class="nav">
                        <li>
                            المنتجات
                            <p> 25 </p>
                        </li>
                        <li>
                            المنتجات
                            <p> 25 </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>
