<div class="content-dashboard">
    <div class="container">
        <div class="list-group">
            <div class="list">
                <div class="text">
                    <div class="title m-0"><img width="45" height="45" src="../../../../assets/images/toasters/logo-5.png" alt=""> محمصة خطوة جمل </div>
                </div>
                <div class="plans">
                    <span> <img src="../../../../assets/images/star.svg" alt=""> </span>
                </div>
            </div>
            <div class="list">
                <div class="text">
                    <div class="title m-0"><img width="45" height="45" src="../../../../assets/images/toasters/logo-4.png" alt=""> محمصة فيرست كراك </div>
                </div>
                <div class="plans">
                    <span> <img src="../../../../assets/images/star.svg" alt=""> </span>
                </div>
            </div>
            <div class="list">
                <div class="text">
                    <div class="title m-0"><img width="45" height="45" src="../../../../assets/images/toasters/logo-2.png" alt=""> محمصة إكسير البن </div>
                </div>
                <div class="plans">
                    <span> <img src="../../../../assets/images/star.svg" alt=""> </span>
                </div>
            </div>
            <div class="list">
                <div class="text">
                    <div class="title m-0"><img width="45" height="45" src="../../../../assets/images/toasters/logo-2.png" alt=""> محمصة إكسير البن </div>
                </div>
                <div class="plans">
                    <span> <img src="../../../../assets/images/star.svg" alt=""> </span>
                </div>
            </div>
            <div class="list">
                <div class="text">
                    <div class="title m-0"><img width="45" height="45" src="../../../../assets/images/toasters/logo-2.png" alt=""> محمصة إكسير البن </div>
                </div>
                <div class="plans">
                    <span> <img src="../../../../assets/images/star.svg" alt=""> </span>
                </div>
            </div>
        </div>
    </div>
</div>
