<div class="wrap-bg">
    <section class="user-test">
        <div class="container-fluid kaffi-container">
            <div class="user-test-content">
                <div class="row">
                    <div class="col-12">
                        <div class="main-content active">
                            <div class="title text-center"> الجنس ؟ </div>
                            <div class="content">
                                <div class="users d-flex">
                                    <div class="male">
                                        <span class="icon active icon-user-male"></span>
                                        <p> ذكر </p>
                                    </div>
                                    <div class="femail">
                                        <span class="icon icon-user-female"></span>
                                        <p> انثي </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="main-content ">
                            <div class="title text-center"> العمر ؟ </div>
                            <div class="content">
                                <div class="ages d-flex">
                                    <div class="number active"> 15 - 20 </div>
                                    <div class="number"> 20 - 30 </div>
                                    <div class="number"> 30 - 40 </div>
                                    <div class="number"> > 40 </div>
                                </div>
                            </div>
                        </div>
                        <div class="main-content">
                            <div class="title text-center">وقت القهوة المفضل ؟ </div>
                            <div class="content">
                                <div class="coffee-time d-flex">
                                    <div class="coffee">
                                        <span class="icon active icon-sunrise"></span>
                                        <p> الصباح </p>
                                    </div>
                                    <div class="coffee">
                                        <span class="icon icon-noon"></span>
                                        <p> الظهر </p>
                                    </div>
                                    <div class="coffee">
                                        <span class="icon icon-sunset"></span>
                                        <p> المغرب </p>
                                    </div>
                                    <div class="coffee">
                                        <span class="icon icon-moon"></span>
                                        <p> المساء </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="main-content ">
                            <div class="title text-center">الإيحاءات المفضلة ؟ </div>
                            <div class="content">
                                <div class="coffee-time d-flex">
                                    <div class="coffee">
                                        <span class="icon active icon-Grapes"></span>
                                        <p> فاكهيه </p>
                                    </div>
                                    <div class="coffee">
                                        <span class="icon icon-choco"></span>
                                        <p> شوكليت </p>
                                    </div>
                                    <div class="coffee">
                                        <span class="icon icon-blend"></span>
                                        <p> بلند </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="main-content ">
                            <div class="title text-center">حرارة مشروبك ؟ </div>
                            <div class="content">
                                <div class="coffee-time d-flex">
                                    <div class="coffee">
                                        <span class="icon active icon-hot-coffee"></span>
                                        <p> ساخن </p>
                                    </div>
                                    <div class="coffee">
                                        <span class="icon icon-cold-coffee"></span>
                                        <p> بارد </p>
                                    </div>
                                    <div class="coffee">
                                        <span class="icon icon-both"></span>
                                        <p> الاتنين </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="main-content ">
                            <div class="title text-center">قوة القهوة ؟ </div>
                            <div class="content">
                                <div class="coffee-time d-flex">
                                    <div class="coffee">
                                        <span class="icon active icon-beans-strong"></span>
                                        <p> قويه </p>
                                    </div>
                                    <div class="coffee">
                                        <span class="icon icon-beans-mid"></span>
                                        <p> معتدله </p>
                                    </div>
                                    <div class="coffee">
                                        <span class="icon icon-noun-low"></span>
                                        <p> خفيفه </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="main-content">
                            <div class="title text-center">المرارة ؟ </div>
                            <div class="content">
                                <div class="coffee-time d-flex">
                                    <div class="coffee">
                                        <img src="../../../../assets/images/beans.svg" alt="">
                                        <p> قويه </p>
                                    </div>
                                    <div class="coffee">
                                        <img src="../../../../assets/images/beans-middel.svg" alt="">
                                        <p> معتدله </p>
                                    </div>
                                    <div class="coffee">
                                        <img src="../../../../assets/images/noun-beans-3363771.svg" alt="">
                                        <p> خفيفه </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="main-content">
                            <div class="title text-center">الحمضية ؟ </div>
                            <div class="content">
                                <div class="coffee-time d-flex">
                                    <div class="coffee">
                                        <img src="../../../../assets/images/beans.svg" alt="">
                                        <p> قويه </p>
                                    </div>
                                    <div class="coffee">
                                        <img src="../../../../assets/images/beans-middel.svg" alt="">
                                        <p> معتدله </p>
                                    </div>
                                    <div class="coffee">
                                        <img src="../../../../assets/images/noun-beans-3363771.svg" alt="">
                                        <p> خفيفه </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="main-content">
                            <div class="title text-center"> مدخن ؟ </div>
                            <div class="content">
                                <div class="smoking d-flex">
                                    <div class="smoke">
                                        <span class="icon active icon-yes"></span>
                                        <p> نعم </p>
                                    </div>
                                    <div class="smoke">
                                        <span class="icon icon-no"></span>
                                        <p> لا </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="main-content">
                            <div class="title text-center"> تضيف الحليب إلى القهوة ؟ </div>
                            <div class="content">
                                <div class="smoking d-flex">
                                    <div class="smoke">
                                        <span class="icon active icon-yes"></span>
                                        <p> نعم </p>
                                    </div>
                                    <div class="smoke">
                                        <span class="icon icon-no"></span>
                                        <p> لا </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="main-content">
                            <div class="title text-center"> تضيف الحليب إلى القهوة ؟ </div>
                            <div class="content">
                                <div class="challanges d-flex">
                                    <div class="challange">
                                        <span class="icon active icon-yes"></span>
                                        <p> نعم </p>
                                    </div>
                                    <div class="challange">
                                        <span class="icon icon-no"></span>
                                        <p> لا </p>
                                    </div>
                                    <div class="challange">
                                        <span class="icon  icon-sometimes"></span>
                                        <p> احيانا </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="main-content ">
                            <div class="title text-center"> ادخل الايميل هنا </div>
                            <div class="content">
                                <div class="challanges d-flex">
                                    <form class="w-100">
                                        <div class="row align-items-center">
                                            <div class="form-group col-lg-10 col-md-12">
                                                <input type="text" class="form-control" placeholder="ادخل الايميل">
                                            </div>
                                            <div class="form-group col-lg-2 col-md-12">
                                                <button type="submit" class="btn btn-serach"> تسجيل </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="content-footer d-flex justify-content-between">
                            <div class="action-area">
                                <span class="next">
                            <i class="fa fa-angle-down"></i>
                          </span>
                                <span class="prev">
                            <i class="fa fa-angle-up"></i>
                          </span>
                                <span class="or">
                            أو
                          </span>
                                <span class="enter">
                            إضغط Enter
                          </span>
                            </div>
                            <div class="progress-area">
                                <p> 0 % تم اكمال </p>
                                <div class="bar">
                                    <div class="progress-bar" style="width: 5%"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
