<div class="content-dashboard">
    <div class="container">
        <div class="new-adds d-flex justify-content-between align-items-center">
            <div class=" text "> نتائج الحملات الإعلانية الحالية </div>
            <div class="add-btn ">
                <button class="btn btn-success font-weight-normal" (click)="showDialog()"> حملة إعلانية جديدة </button>
            </div>
        </div>
        <div class="row compaigns">
            <div class=" col-lg-3 col-md-6 col-12 ">
                <div class="card">
                    <img src="../../../../assets/images/viewing-icon.svg " alt=" ">
                    <div class="number "> 1520 </div>
                    <div class="text "> مرات الظهور </div>
                </div>
            </div>
            <div class=" col-lg-3 col-md-6 col-12 ">
                <div class="card ">
                    <img src="../../../../assets/images/click.svg " alt=" ">
                    <div class="number gary"> 300 </div>
                    <div class="text gary"> عدد الضغطات </div>
                </div>
            </div>
            <div class=" col-lg-3 col-md-6 col-12 ">
                <div class="card ">
                    <img src="../../../../assets/images/visits-icon.svg " alt=" ">
                    <div class="number gary"> 321 </div>
                    <div class="text gary"> زيارات حساب المحمصة </div>
                </div>
            </div>
            <div class=" col-lg-3 col-md-6 col-12 ">
                <div class="card ">
                    <img src="../../../../assets/images/buget-icon.svg " alt=" ">
                    <div class="number "> 38 </div>
                    <div class="text "> متبقي في الميزانية </div>
                </div>
            </div>
        </div>
        <div class="resulet-adds">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="head-card">
                            <div class="text"> نتائج ظهور الحملة الإعلانية </div>
                            <div class="dropdown">
                                <span> عرض نتائج آخر  </span>
                                <select>
                                  <option> أسبوع </option>
                                  <option> أسبوع </option>
                                  <option> أسبوع </option>
                                </select>
                            </div>
                        </div>
                        <div class="content p-0">
                            <!-- Put Chart Here -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="resulet-adds">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="head-card">
                            <div class="text">
                                <span> استعراض النتائج حسب </span> الجنس والعمر
                            </div>
                        </div>
                        <div class="content p-0">
                            <!-- Put Chart Here -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="resulet-adds">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="head-card">
                            <div class="text">
                                الحملات الاعلانية الحالية
                            </div>
                            <div class="icons">
                                <span> <i class="fa fa-pencil" aria-hidden="true"></i> </span>
                                <span> <i class="fa fa-trash-o" aria-hidden="true"></i> </span>
                            </div>
                        </div>
                        <div class="content px-0 table-responsive">
                            <table class="table table-borderless">
                                <thead>
                                    <tr>
                                        <th> </th>
                                        <th> الاسم </th>
                                        <th> الحالة </th>
                                        <th> الميزانية </th>
                                        <th> المتبقي </th>
                                        <th> الظهور </th>
                                        <th> الضغطات </th>
                                        <th> تاريخ البداية </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <p-checkbox [(ngModel)]="value" [binary]="true"></p-checkbox>
                                        </td>
                                        <td> حملة ثانية تجريبية </td>
                                        <td>
                                            <p-inputSwitch [(ngModel)]="checked"></p-inputSwitch>
                                        </td>
                                        <td> 50 رس </td>
                                        <td> 38 رس</td>
                                        <td> 1520 </td>
                                        <td> 300 </td>
                                        <td> 300 </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p-checkbox [(ngModel)]="value" [binary]="true"></p-checkbox>
                                        </td>
                                        <td> حملة ثانية تجريبية </td>
                                        <td>
                                            <p-inputSwitch [(ngModel)]="checked"></p-inputSwitch>
                                        </td>
                                        <td> 50 رس </td>
                                        <td> 38 رس</td>
                                        <td> 1520 </td>
                                        <td> 300 </td>
                                        <td> 300 </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <p-dialog header="" [(visible)]="display">
        <div class="content">
            <div class="title text-center"> حملة إعلانية جديدة </div>
            <form>
                <div class="row">
                    <div class="col-md-6 col-12 form-group">
                        <label class="lable"> اسم الحملة </label>
                        <input type="text" class="form-control">
                        <img class="icon-right" src="../../../../assets/images/adds.svg" alt="">
                    </div>
                    <div class="col-md-6 col-12 form-group">
                        <label class="lable"> الميزانية </label>
                        <select class="form-control">
                            <option>  </option>
                        </select>
                        <img class="icon-right" src="../../../../assets/images/usd.svg" alt="">
                        <img class="icon-left arrow" src="../../../../assets/images/arrow-bottom.svg" alt="">
                    </div>
                    <div class="col-md-6 col-12 form-group">
                        <label class="lable"> تاريخ البدء </label>
                        <p-calendar inputId="basic"></p-calendar>
                        <img class="icon-right" src="../../../../assets/images/calender.svg" alt="">
                    </div>
                    <div class="col-md-6 col-12 form-group">
                        <label class="lable"> تاريخ الانتهاء </label>
                        <p-calendar inputId="basic"></p-calendar>
                        <img class="icon-right" src="../../../../assets/images/calender.svg" alt="">
                    </div>
                    <div class="col-md-6 col-12 form-group">
                        <label class="lable"> الجمهور </label>
                        <select class="form-control">
                          <option> الكل </option>
                      </select>
                        <img class="icon-right" src="../../../../assets/images/people-icon-light.svg" alt="">
                        <img class="icon-left arrow" src="../../../../assets/images/arrow-bottom.svg" alt="">
                    </div>
                    <div class="col-md-6 col-12 form-group">
                        <label class="lable"> الفئات للعمرية </label>
                        <div class="row">
                            <div class="col form-group">
                                <input type="text" class="form-control age" placeholder="15 - 20">
                            </div>
                            <div class="col form-group">
                                <input type="text" class="form-control age" placeholder="20 - 30">
                            </div>
                            <div class="col form-group">
                                <input type="text" class="form-control age" placeholder="15 - 20">
                            </div>
                            <div class="col form-group">
                                <input type="text" class="form-control age" placeholder="20 - 30">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-12 form-group">
                        <label class="lable"> المدينة </label>
                        <select class="form-control">
                        <option> الكل </option>
                    </select>
                        <img class="icon-right" src="../../../../assets/images/pin-light.svg" alt="">
                        <img class="icon-left arrow" src="../../../../assets/images/arrow-bottom.svg" alt="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-12 form-group">
                        <label class="lable"> إعلان عن </label>
                        <select class="form-control">
                      <option> منتجات المحمصة </option>
                  </select>
                        <img class="icon-right" src="../../../../assets/images/product-icon-light.svg" alt="">
                        <img class="icon-left arrow" src="../../../../assets/images/arrow-bottom.svg" alt="">
                    </div>
                    <div class="col-md-6 col-12 form-group">
                        <label class="lable"> المنتج المستهدف </label>
                        <select class="form-control">
                  <option> منتجات محددة </option>
              </select>
                        <img class="icon-right" src="../../../../assets/images/grid-light.svg" alt="">
                        <img class="icon-left arrow" src="../../../../assets/images/arrow-bottom.svg" alt="">
                    </div>
                </div>

                <div class="row mt-5">
                    <div class="col-12 form-group">
                        <label class="lable"> أضف المنتجات التي ستشملها حملتك الاعلانية </label>
                        <p-chips class="w-100"></p-chips>
                    </div>
                </div>

            </form>
        </div>
        <ng-template pTemplate="footer">
            <div class="startAdds d-flex justify-content-end">
                <button class="btn btn-success font-weight-normal"> بدأ الحملة الاعلانية </button>
            </div>
        </ng-template>
    </p-dialog>
</div>
