<aside class="sidebar">
    <ul class="nav flex-column">
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{'exact': true}">
            <a routerLink="/admin" class="nav-link"><span class="fa fa-line-chart"></span> إحصائيات الأفراد </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a routerLink="/admin/trackrd-price" class="nav-link"> <span class="fa fa-bell-o"></span> المنتجات المتتبعة </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a routerLink="/admin/plans" class="nav-link"><span class="icon-pay-plans"></span> خطة الدفع </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a routerLink="/admin/fav-roasters" class="nav-link"> <span class="fa fa-star-o"></span> المحامص المفضلة </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a routerLink="/admin/compaigns" class="nav-link"><span class="icon-ads-campaign"></span> الحملات الاعلانية </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a routerLink="/admin/edit-profile" class="nav-link"><span class="fa fa-pencil-square-o"></span> تعديل حساب المحمصة </a>
        </li>
    </ul>
</aside>
